{% extends '@admin/browser.twig' %}

{% block finder_title %}
    {% trans %}Referrals{% endtrans %}
{% endblock %}

{% block expand_finder_button %}
    {{ buttons.expand_finder('referrals_admin_home') }}
{% endblock %}

{% block add_item %}
    {{ buttons.add_item('referrals_admin_add', 'Add Referral') }}
{% endblock %}

{% block finder %}
    <div data-url="{{ url('referrals_admin_finder') }}">
        {{ render(path('referrals_admin_finder')) }}
    </div>
{% endblock %}

{% block mobile_back_link %}
    {{ url('referrals_admin_home') }}
{% endblock %}

{% block checked_options_buttons %}
    {{ buttons.bulk_delete('referrals_admin_delete') }}

    
{% endblock %}