{% extends '@admin/editor.twig' %}

{% block title %}
    {% trans %}Bulk Upload Files{% endtrans %}
{% endblock %}

{% block editor_title %}
    {{ block('title') }}
{% endblock %}

{% block editor_content %}
    <div class="bulk-upload">
        {{ form_start(form) }}

        {{ form_messages(form) }}

        {{ form_rows(form) }}

        {{ form_end(form) }}

        <div class="form-group">
            <button class="btn btn-primary start-upload-btn" style="display: none;">{% trans %}Start Upload{% endtrans %}</button>
        </div>
    </div>

    <div class="form-group new-upload" style="display:none;overflow: hidden;">
        <button class="btn btn-warning btn-large new-upload-button">
            <span class="glyphicon glyphicon-play-circle"></span> {% trans %}New Upload{% endtrans %}
        </button>

        <a class="btn btn-success btn-large go-to-import-button" href="#">
            <span class="glyphicon glyphicon-import"></span> Import new files
        </a>
    </div>

    <div class="selected-files-area"></div>
{% endblock %}
