{% block content_body %}
    <div class="finder-padded">

        {% for comment in comments %}
            <div class="panel panel-default" data-id="{{ comment.id }}">
                <div class="panel-heading">
                    {% if comment.user.id %}
                        <a href="{{ url('users_admin_edit', {id: comment.user.id}) }}">{{ comment.user.username }}</a>
                    {% else %}
                        {{ comment.ip }}
                    {% endif %}
                    {% trans %}commented on{% endtrans %} <a href="{{ comment.content.url }}">{{ comment.content.title }}</a> - {{ comment.date|date(settings.date_format) }}
                    <div class="pull-right">
                        <button class="btn btn-danger btn-xs avcms-delete-item" data-delete-url="{{ url('delete_comments') }}"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </div>
                <div class="panel-body">
                    {{ comment.comment }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
