{% extends '@admin/finder.twig' %}


{% block finder_header_titles %}
    <div class="col-md-6 hidden-xs">
        {% trans %}Body{% endtrans %}
    </div>
    <div class="col-md-2 hidden-sm hidden-xs">
        {% trans %}Author{% endtrans %}
    </div>
    <div class="col-md-3 hidden-sm hidden-xs">
        {% trans %}Slug{% endtrans %}
    </div>
    <div class="col-md-1 hidden-sm hidden-xs">
        {% trans %}Hits{% endtrans %}
    </div>
{% endblock %}


{% block item_options %}
    <div class="btn-group">
        {{ buttons.edit('blog_edit_post', item.id) }}

        {{ buttons.publish(item.published, 'blog_toggle_posts_published') }}

        {{ buttons.delete('blog_delete_posts') }}
    </div>

    {{ buttons.view('blog_post', {slug: item.slug}) }}
{% endblock %}

{% block item_extended_inner %}
    <div class="col-md-6 hidden-xs">
        {{ item.body|length > 120 ? item.body|striptags|slice(0, 120) ~ '...' : item.body|striptags  }}
    </div>
    <div class="col-md-2 hidden-sm hidden-xs">
        {{ item.user.username }}
    </div>
    <div class="col-md-3 hidden-sm hidden-xs">
        <a href="{{ url('blog_post', {slug: item.slug}) }}">{{ item.slug }}</a>
    </div>
    <div class="col-md-1 hidden-sm hidden-xs">
        {{ item.hits }}
    </div>
{% endblock %}