{% extends '@admin/browser.twig' %}

{% block finder_title %}
    {% trans %}Blog Posts{% endtrans %}
{% endblock %}

{% block expand_finder_button %}
    {{ buttons.expand_finder('blog_admin_home') }}
{% endblock %}

{% block add_item %}
    {{ buttons.add_item('blog_add_post', 'Add Blog Post') }}
{% endblock %}

{% block finder %}
    <div data-url="{{ path('blog_finder') }}">
        {{ render(path('blog_finder')) }}
    </div>
{% endblock %}

{% block mobile_back_link %}
    {{ path('blog_admin_home') }}
{% endblock %}

{% block checked_options_buttons %}
    {{ buttons.bulk_delete('blog_delete_posts') }}
    {{ buttons.bulk_publish('blog_toggle_posts_published') }}
    {{ buttons.bulk_unpublish('blog_toggle_posts_published') }}
{% endblock %}
