<a class="thumbnail browse-videos-thumbnail clearfix" href="{{ path('watch_video', {slug: video.slug}) }}">
    <img src="{{ video_thumbnail(video) }}" style="width: 100%"/>
    <div class="pull-left" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width:100%">
        {{ video.name }}
        {% if admin_settings.show_video_description %}
            <br/><span class="small" title="{{ video.description|striptags }}">{{ video.description|striptags }}</span>
        {% endif %}
    </div>
    <div class="pull-left">
        <span class="small">
            {% include '@Videos/video_stats.twig' %}
        </span>
    </div>
</a>
