{% extends 'index.twig' %}

{% block title %}{{ video.name }}{% endblock %}

{% block meta_description %}{{ video.description|striptags }}{% endblock %}

{% block header_extra %}
    <meta property="og:title" content="{{ video.name }}" />
    <meta property="og:image" content="{{ video_thumbnail(video) }}" />
    <meta property="og:description" content="{{ video.description|striptags }}" />
{% endblock %}

{% block content %}
    {% block video_top_modules %}
        <div class="video-top-modules">
            {{ render_modules('watch_video_top') }}
        </div>
    {% endblock %}

    {% block video_box %}
        <div class="box box-primary video-box">
            <div class="box-top">

                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="{{ video_thumbnail(video) }}" alt="{{ video.name }}" height="65">
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{ video.name }}</h2>
                        <a href="{{ path('video_category', {'category': video.category.slug}) }}">
                           <span class="glyphicon glyphicon-folder-open"></span> &nbsp;{{ video.category.name }}
                        </a>
                    </div>
                </div>
            </div>

            <div class="box-main">
                {% block video_box_main %}
                <div class="row">
                    <div class="col-lg-12">
                        {% if plays_left and settings.videos_limit_plays %}
                            <div class="alert alert-info">{% trans with {total: plays_left} %}You have {total} video plays remaining before you must register{% endtrans %}</div>
                        {% endif %}

                        {{ embed_video(video) }}
                    </div>
                </div>
                {% endblock %}
            </div>
            <div class="box-footer">
                <div class="text-center">
                    {{ like_dislike_buttons('video', video.id, video) }}

                    {% if is_granted('ADMIN_VIDEOS') %}
                        <a class="btn btn-default" href="{{ path('videos_admin_edit', {'id': video.id}) }}"><span class="glyphicon glyphicon-pencil"></span> {% trans %}Edit Video{% endtrans %}</a>
                    {% endif %}

                    {% if is_granted('PERM_SEND_REPORTS') %}
                        <button class="btn btn-default" data-report-button data-content-type="videos" data-content-id="{{ video.id }}"><span class="glyphicon glyphicon-bullhorn"></span> {% trans %}Report Issue{% endtrans %}</button>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}

    <div class="row">
        <div class="col-md-12">
            {% block video_instructions_box %}
                {% if video.instructions %}
                    <div class="box">
                        <div class="box-top">
                            <h4>{% trans %}Instructions{% endtrans %}</h4>
                        </div>
                        <div class="box-main">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p>{{ video.instructions|raw }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endblock %}

            {% block video_details_box %}
                <div class="box video-details-box">
                    <div class="box-top">
                        <h4>{% trans %}Video Details{% endtrans %}</h4>
                    </div>
                    <div class="box-main">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="video-description">{{ video.description|raw|nl2br|link_text }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p>{% trans %}Date Added{% endtrans %}: {{ video.publishDate|date(settings.date_format) }}</p>
                            </div>
                            <div class="col-md-4">
                                <p>{% trans %}Category{% endtrans %}: <a href="{{ path('video_category', {'category': video.category.slug}) }}"> {{ video.category.name }}</a></p>
                            </div>
                            <div class="col-md-4">
                                <p>{% trans with {plays: video.hits} %}Played {plays} times{% endtrans %}</p>
                            </div>

                         </div>
                        <div class="row">
                            <div class="col-md-12">
                                {% trans %}Tags{% endtrans %}:
                                {% for tag in video.tags %}
                                    <a class="btn btn-default btn-xs" href="{{ path('video_tag', {'tags': tag.slug}) }}">{{ tag.name }}</a>
                                {% else %}
                                    {% trans %}None{% endtrans %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block video_details_modules %}
                <div class="video-details-modules">
                    {{ render_modules('watch_video_details') }}
                </div>
            {% endblock %}

            {% block video_comments %}
                {{ comments('video', video, video.comments) }}
            {% endblock %}
        </div>
    </div>
{% endblock %}
