{% extends 'index.twig' %}

{% block title %}{% trans %}Edit Profile{% endtrans %}{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ url('user_profile', {slug: user.slug}) }}">{{ user.username }}</a></li>
        <li class="active">{% trans %}Edit Profile{% endtrans %}</li>
    </ol>

    <ul class="nav nav-tabs" role="tablist">
        <li><a href="{{ url('edit_user_profile') }}">{% trans %}Profile{% endtrans %}</a></li>
        <li class="active"><a href="{{ url('user_email_password') }}">{% trans %}Password & Email{% endtrans %}</a></li>
    </ul>

    <h3>{% trans %}Password{% endtrans %}</h3>
    {{ form(password_form) }}

    <h3>{% trans %}Email{% endtrans %}</h3>
    {{ form(email_form) }}
{% endblock %}