{% extends 'index.twig' %}

{% block title %}{% trans with {username: profile_user.username} %}{username}'s profile{% endtrans %}{% endblock %}

{% block meta_description %}{% trans with {username: profile_user.username} %}{username}'s profile{% endtrans %}{% endblock %}

{% block wide_content %}
    <div class="user-profile-header" style="background-image: url('{{ cover_url(profile_user) }}')">
            <div class="user-profile-username">
                {{ profile_user.username }}

                <span class="small">{{ user_info(profile_user, {show_avatar: false, show_username: false}) }}</span>
            </div>

            <div class="user-profile-avatar">
                <img src="{{ avatar_url(profile_user) }}" width="100px" height="100px" alt="{{ user.username }}" />
            </div>
        <div class="user-profile-info">
                <div class="pull-left">
                    {% trans %}Joined{% endtrans %}: {{ profile_user.joined|date(settings.date_format) }}
                    {% if profile_user.lastActivity > 0 %}
                        &nbsp;&nbsp;{% trans %}Last Activity{% endtrans %}: {{ profile_user.lastActivity|date(settings.date_format) }}
                    {% endif %}
                </div>
        </div>
    </div>

    <p class="text-right">
        {{ outlet('user_profile_buttons', {user: profile_user}) }}

        {% if is_granted('ADMIN_USERS') %}
            <a class="btn btn-default btn-sm" href="{{ path('users_admin_edit', {id: profile_user.id}) }}"><span class="glyphicon glyphicon-user"></span> {% trans %}Edit User{% endtrans %}</a>
        {% endif %}

        {% if users_own_profile %}
            <a class="btn btn-default btn-sm" href="{{ path('edit_user_profile') }}"><span class="glyphicon glyphicon-pencil"></span> {% trans %}Edit Profile{% endtrans %}</a>
        {% endif %}
    </p>
    <div class="row">
        <div class="col-md-8">
            {{ render_modules('user_profile_main', {user: profile_user}) }}
        </div>
        <div class="col-md-4">
            {{ render_modules('user_profile_sidebar', {user: profile_user}) }}
        </div>
    </div>
{% endblock %}
