<style type="text/css">
    .dev-bar-inner {
        height: 40px;
        background-color: #e7e7e7;
        position:fixed;
        bottom: 0px;
        right:0px;
        width: 100%;
        color: #333;
        z-index: 5;
    }

    .profiler-block {
        float: left;
        margin-right: 5px;
        border-right: 1px solid #dddddd;
        padding: 10px 15px 10px 10px;
    }

    .dev-bar-inner a {
        text-decoration: underline;
        color: #333;
    }

    .browser-finder-checked-options {
        margin-bottom: 40px;
    }
</style>

<div class="dev-bar-inner animated fadeIn">
    <div class="profiler-block">
        <a href="{{ url('profiler', {token: token}) }}">{{ token }}</a>
    </div>
    <div class="profiler-block">
        {{ request.controller.class|abbr_class }} :: {{ request.controller.method }} <i>via</i> {{ request.route }}
    </div>
    <div class="profiler-block">
        {{ '%.1f'|format(memory.memory / 1024 / 1024) }} MB / {{ '%.0f ms'|format(time.duration) }}
    </div>
    <div class="profiler-block">
        <a href="{{ url('profiler', {token: token}) }}#translations">{{ translations.translations|length }} Translation Strings</a>
    </div>
</div>