{% extends '@admin/browser.twig' %}

{% block finder_title %}
    {% trans %}Pages{% endtrans %}
{% endblock %}

{% block expand_finder_button %}
    {{ buttons.expand_finder('pages_admin_home') }}
{% endblock %}

{% block add_item %}
    {{ buttons.add_item('pages_admin_add', 'Add Page') }}
{% endblock %}

{% block finder %}
    <div data-url="{{ url('pages_admin_finder') }}">
        {{ render(path('pages_admin_finder')) }}
    </div>
{% endblock %}

{% block mobile_back_link %}
    {{ url('pages_admin_home') }}
{% endblock %}

{% block checked_options_buttons %}
    {{ buttons.bulk_delete('pages_admin_delete') }}

    
{% endblock %}