{% extends '@admin/editor.twig' %}

{% block title -%}
    {% trans %}Add Module{% endtrans %}
{% endblock %}

{% block editor_title %}
    <span class="light"><a href="{{ path('modules_manage_position', {id: item.id}) }}">{{ item.name }}</a> /</span> {{ block('title') }}
{% endblock %}

{% block editor_content %}
    {% for module_position, modules in module_positions %}
        <h4>{{ module_position|capitalize }}</h4>
        {% for module_id, module in modules %}
            <div class="well well-sm clearfix">
                <div class="row">
                    <div class="col-sm-10">
                        <strong>{{ module.name }}</strong><br/>
                        {{ module.description }}
                    </div>
                    <div class="col-sm-2 text-right">
                        <a href="{{ path('modules_admin_add_selected', { position: item.id, module: module_id}) }}" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> {% trans %}Add{% endtrans %}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
