{% extends '@admin/edit_item.twig' %}

{% block title -%}
    {% spaceless %}
        {% if item.id %}
            {% trans with {'menu': menu.label, 'item': item.label} %}Editing {menu} Menu Item: {item}{% endtrans %}
        {% else %}
            {% trans %}New Menu Item{% endtrans %}
        {% endif %}
    {% endspaceless  %}
{% endblock %}

{% block editor_title_edit %}
    <span class="light"><a href="{{ url('menus_admin_manage_items', {id: menu.id}) }}">{{ menu.label }}</a> /</span> <span data-id="{{ item.id }}" data-field="label">{{ item.label }}</span>
{% endblock %}

{% block editor_title_new %}
    {% trans %}New Menu Item{% endtrans %}
{% endblock %}

{% block form_start %}
    {{ form_start(form, {"data-item-id": item.id|default(0), "data-update-browser": 'none'}) }}
{% endblock %}
