{% extends '@admin/edit_item.twig' %}

{% block title -%}
    {% spaceless %}
        {% trans %}Editing Template{% endtrans %} - @{{ item.bundle }}/{{ item.file }}
    {% endspaceless  %}
{% endblock %}

{% block editor_title %}
    <span class="light">{% trans %}Editing Template{% endtrans %}</span> @{{ item.bundle }}/{{ item.file }}
{% endblock %}

{% block before_form %}
    {% if item.current_location == 'webmaster' %}
        <div class="alert alert-info">
            {% trans %}You have edited this template{% endtrans %}:
            <a href="#" class="alert-link">{% trans %}Reset to default{% endtrans %}</a>
        </div>
    {% endif %}
{% endblock %}

{% block form_start %}
    {{ form_start(form, {"data-item-id": item.id|default(0)}) }}
{% endblock %}
