{% extends '@admin/edit_item.twig' %}

{% block title -%}
    {% spaceless %}
        {% trans %}Editing Template{% endtrans %} - @{{ item.bundle }}/{{ item.file }}
    {% endspaceless  %}
{% endblock %}

{% block editor_title %}
    <span class="light">{% trans %}Editing Template{% endtrans %}</span> @{{ item.bundle }}/{{ item.file }}
{% endblock %}

{% block before_form %}
        <div class="alert alert-info" {% if item.current_location != 'webmaster' %}style="display:none;"{% endif %}>
            {% trans %}You have edited this template{% endtrans %}:
            <a href="#" class="alert-link">{% trans %}Reset to default{% endtrans %}</a>
        </div>
{% endblock %}

{% block form_start %}
    {{ form_start(form, {"data-item-id": item.id|default(0)}) }}
{% endblock %}
