{% extends '@admin/editor.twig' %}
{% import '@admin/macros/finder_buttons.twig' as buttons %}

{% block title -%}
    {% spaceless %}
        {% if item.id %}
            Editing {{ item.label }}
        {% else %}
            {% trans %}New Menu{% endtrans %}
        {% endif %}
    {% endspaceless  %}
{% endblock %}

{% block editor_title_edit %}
    <span data-id="{{ item.id }}" data-field="label">{{ item.label }}
{% endblock %}

{% block editor_title_new %}
    {% trans %}New Menu{% endtrans %}
{% endblock %}

{% block editor_content %}
    <span class="always-refresh"></span>

    {% if item.id == 'admin' %}
        <div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> {% trans %}Please note, you will need to refresh the admin panel to see changes to the admin panel menu.{% endtrans %}</div>
    {% endif %}

    <p>
        <a href="{{ path('menu_items_select', {menu: item.id}) }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span> {% trans %}Add Menu Item{% endtrans %}
        </a>
    </p>

    <div class="sortable-container">
        <ul class="sortable" style="position: absolute;" data-sortable-levels="2" data-ajax-action="{{ path('menus_save_order', {id: item.id}) }}" data-ajax-delete-action="{{ path('menus_admin_delete_item') }}">
            {% for menu_item in menu_items %}
            <li id="menu_order_{{ menu_item.id|replace({'_': 'UNDERSCORE'}) }}" data-item-id="{{ menu_item.id }}">
                <div class="sortable-item">
                    <span class="glyphicon glyphicon-menu-hamburger handle"></span> <span class="{{ menu_item.icon }}"></span> {{ menu_item.label }}
                    {% block menu_item_buttons %}
                        <div class="pull-right">
                            {% if menu_item.owner is null %}
                                <a class="btn btn-xs btn-default" href="{{ path('menu_items_edit', {menu: item.id, id: menu_item.id}) }}"><span class="glyphicon glyphicon-pencil"></span> {% trans %}Edit{% endtrans %}</a>
                            {% endif %}

                            {{ buttons.publish(menu_item.enabled, 'toggle_menu_item_enabled') }}

                            {% if menu_item.owner is null %}
                                <button class="btn btn-danger btn-xs delete-item"><span class="glyphicon glyphicon-remove"></span></button>
                            {% endif %}
                        </div>
                    {% endblock %}
                </div>
                {% if menu_item.children %}
                <ul>
                    {% for menu_item in menu_item.children %}
                        <li id="menu_order_{{ menu_item.id }}">
                            <div class="sortable-item">
                                <span class="glyphicon glyphicon-menu-hamburger handle"></span> <span class="{{ menu_item.icon }}"></span> {{ menu_item.label }}
                                {{ block('menu_item_buttons') }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
