{% extends '@admin/browser.twig' %}

{% block finder_title %}
    {% trans %}Modules{% endtrans %}
{% endblock %}

{% block expand_finder_button %}
    {{ buttons.expand_finder('modules_admin_home') }}
{% endblock %}

{% block add_item %}{% endblock %}

{% block finder %}
    <div data-url="{{ path('modules_admin_finder') }}">
        {{ render(path('modules_admin_finder')) }}
    </div>
{% endblock %}

{% block mobile_back_link %}
    {{ path('modules_admin_home') }}
{% endblock %}

{% block checked_options_buttons %}
    {{ buttons.bulk_delete('modules_admin_delete') }}
{% endblock %}
