{% extends '@admin/simple_page.twig' %}

{% block title %}
    {% trans %}Settings{% endtrans %}
{% endblock %}

{% block content_header %}
    {{ block('title') }}
    <div class="settings-sections">
        {% for section_id, section in form.sections %}
            {% if loop.first == false %}&nbsp;{% endif %} <a href="#{{ section_id }}-section">{{ section.label }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block content_body %}
    <div class="container-fluid admin-settings">
        {{ form_start(form) }}

        <div class="row">
            <div class="col-sm-12">{{ form_messages(form) }}</div>
        </div>

        {% for section_id, section in form.sections %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a name="{{ section_id }}-section"></a>{{ section.label }}</h4>
                </div>
                <div class="panel-body">
                    {% for field in form.sectionFields(section_id) %}
                        {% if loop.index is odd %}
                            <div class="row">
                        {% endif %}

                        <div class="{% if field.type != 'hidden' %}col-sm-6{% endif %} {% if field.type == 'checkbox' %}checkbox-row{% endif %}">
                            {% if field.type == 'checkbox' %}<label>{{ field.options.label }}</label>{% endif %}
                            {{ form_row(field) }}
                        </div>

                        {% if loop.index is even or loop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}


        <div class="row">
            <div class="col-sm-12">
                {{ form_submit_button(form) }}
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
