{% extends '@admin/edit_item.twig' %}

{% block title -%}{% trans %}Review Video Submission{% endtrans %}: {{ item.name }}{% endblock %}

{% block editor_title %}
    <span class="light">{% trans %}Review Video Submission{% endtrans %}:</span> <span data-id="{{ item.id }}" data-field="name">{{ item.name }}</span>
{% endblock %}

{% block form_start %}
    {{ form_start(form, {"data-item-id": item.id|default(0), 'class': 'review-video-submission'}) }}
{% endblock %}

{% block form_rows %}
    {{ form_rows_before(form, 'width') }}

    <div class="form-group">
        <label>{% trans %}Dimensions{% endtrans %}</label><br/>
        {{ form_field(form.width, {class: 'input-short'}) }} x {{ form_field(form.height, {class: 'input-short'}) }}

        <button type="button" class="btn btn-default avcms-get-video-dimensions"><span class="glyphicon glyphicon-refresh"></span> {% trans %}Auto{% endtrans %}</button>
        <span class="avcms-video-dimensions-error text-danger"></span>
    </div>

    {{ form_rows_after(form, 'height') }}
{% endblock %}
