{% extends '@admin/browser.twig' %}

{% block finder_title %}
    {% trans %}Images{% endtrans %}
{% endblock %}

{% block expand_finder_button %}
    {{ buttons.expand_finder('images_admin_home') }}
{% endblock %}

{% block add_item %}
    {{ buttons.add_item('images_admin_add', 'Add Image Collection') }}
{% endblock %}

{% block finder_extra_class %}
    finder-wide
{% endblock %}

{% block finder %}
    <div data-url="{{ path('images_admin_finder') }}">
        {{ render(path('images_admin_finder')) }}
    </div>
{% endblock %}

{% block mobile_back_link %}
    {{ path('images_admin_home') }}
{% endblock %}

{% block checked_options_buttons %}
    {{ buttons.bulk_delete('images_admin_delete') }}

    {{ buttons.bulk_publish('images_admin_toggle_published') }}
    {{ buttons.bulk_unpublish('images_admin_toggle_published') }}

    {{ buttons.bulk_feature('images_admin_toggle_featured') }}
    {{ buttons.bulk_unfeature('images_admin_toggle_featured') }}
{% endblock %}
