{% extends '@admin/browser.twig' %}

{% block finder_title %}
    {% trans %}Image Submissions{% endtrans %}
{% endblock %}

{% block finder_filters -%}{%- endblock %}

{% block expand_finder_button %}
    {{ buttons.expand_finder('image_submissions_admin_home') }}
{% endblock %}

{% block finder %}
    <div data-url="{{ path('image_submissions_admin_finder') }}">
        {{ render(path('image_submissions_admin_finder')) }}
    </div>
{% endblock %}

{% block mobile_back_link %}
    {{ path('image_submissions_admin_home') }}
{% endblock %}

{% block checked_options_buttons %}
    {{ buttons.bulk_delete('image_submissions_admin_delete') }}
{% endblock %}
