{% extends 'index.twig' %}

{% block content %}
    <h2>{% trans %}Our Friends{% endtrans %}</h2>

    {% if settings.link_exchange %}
    <p>
        <a class="btn btn-default btn-success" href="{{ path('link_exchange') }}">
            <span class="glyphicon glyphicon-plus"></span> {% trans %}Add Your Site Here{% endtrans %}
        </a>
    </p>
    {% endif %}

    <table class="table">
        {% for link in links %}
            <tr>
                <td> <strong><a href="{{ path('link_out', {'id': link.id}) }}" {% if settings.link_exchange_no_follow %}rel="nofollow"{% endif %}>{{ link.anchor }}</a></strong>
                    {% if link.description %} - {{ link.description }}{% endif %}</td>
            </tr>
        {% endfor %}
    </table>

    {% block links_pagination %}
        {{ pagination(total_pages, current_page) }}
    {% endblock %}
{% endblock %}
