{% set column_size = 12 / columns %}

{% if columns <= 2 %}
    {% set base_thumb_size = 'md' %}
{% else %}
    {% set base_thumb_size = 'sm' %}
{% endif %}

<div class="row">
    {% for wallpaper in wallpapers %}
        <div class="col-sm-{{ column_size }}">
            <a class="thumbnail clearfix" href="{{ path('wallpaper_details', {slug: wallpaper.slug}) }}">
                <img src="{{ wp_thumbnail_url(wallpaper, base_thumb_size) }}" srcset="{{ wp_thumbnail_url(wallpaper, base_thumb_size) }} 1x, {{ wp_thumbnail_url(wallpaper, 'md') }} 2x" width="100%"/>
                <div class="pull-left" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width:100%">
                    {% if admin_settings.show_wallpaper_name %}{{ wallpaper.name }}{% endif %}
                </div>
                <div class="pull-left">
                    <span class="small">{% include '@Wallpapers/wallpaper_stats.twig' %}</span>
                </div>
            </a>
        </div>

        {% if loop.index % columns == 0 %}
            </div><div class="row">
        {% endif %}
    {% else %}
        <div class="col-md-12">
            {% trans %}None{% endtrans %}
        </div>
    {% endfor %}
</div>

{% if more_button and admin_settings.show_more_button %}
    <div class="row">
        <div class="col-md-12 text-right">
            <a class="btn btn-default" href="{{ more_button.url }}">{{ more_button.label|trans }} <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
{% endif %}
