<div class="list-group">
    {% for wallpaper in wallpapers %}
        <a href="{{ path('wallpaper_details', {slug: wallpaper.slug}) }}" class="list-group-item">
            <div class="media">
                <span class="media-left" href="#">
                    <img src="{{ wp_thumbnail_url(wallpaper, 'xs') }}" width="84" height="50"/>
                </span>
                <div class="media-body" style="vertical-align: middle;">
                    {% if admin_settings.show_wallpaper_name %}
                        <h5 class="media-heading">{{ wallpaper.name }} </h5>
                    {% endif %}
                    <span class="small">
                        {% include '@Wallpapers/wallpaper_stats.twig' %}
                    </span>
                </div>
            </div>
        </a>
    {% else %}
        <div class="list-group-item">
            {% trans %}None{% endtrans %}
        </div>
    {% endfor %}

    {% if more_button %}
    <a href="{{ more_button.url }}" class="list-group-item text-center">
        {{ more_button.label|trans }} <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    {% endif %}
</div>
