{% extends '@admin/browser.twig' %}

{% block finder_title %}
    {% trans %}Groups{% endtrans %}
{% endblock %}

{% block expand_finder_button %}
    {{ buttons.expand_finder('groups_admin_home') }}
{% endblock %}

{% block add_item %}
    {{ buttons.add_item('groups_admin_add', 'Add Group') }}
{% endblock %}

{% block finder %}
    <div data-url="{{ url('groups_admin_finder') }}">
        {{ render(path('groups_admin_finder')) }}
    </div>
{% endblock %}

{% block mobile_back_link %}
    {{ url('groups_admin_home') }}
{% endblock %}

{% block checked_options_buttons %}
    {{ buttons.bulk_delete('groups_admin_delete') }}

    
{% endblock %}