{% extends '@admin/browser.twig' %}

{% block finder_title %}
    {% trans %}Lols{% endtrans %}
{% endblock %}

{% block expand_finder_button %}
    {{ buttons.expand_finder(bundle.route.Lols_admin_home) }}
{% endblock %}

{% block add_item %}
    {{ buttons.add_item(bundle.route.Lols_admin_add, 'Add Lol') }}
{% endblock %}

{% block finder %}
    <div data-url="{{ url(bundle.route.Lols_admin_finder) }}">
        {{ render(path(bundle.route.Lols_admin_finder)) }}
    </div>
{% endblock %}

{% block mobile_back_link %}
    {{ url(bundle.route.Lols_admin_home) }}
{% endblock %}

{% block checked_options_buttons %}
    {{ buttons.bulk_delete(bundle.route.Lols_admin_delete) }}

    
{% endblock %}