{% extends '@admin/browser.twig' %}

{% block finder_title %}
    {% trans %}Translations{% endtrans %}
{% endblock %}

{% block expand_finder_button %}
    {{ buttons.expand_finder('translations_admin_home') }}
{% endblock %}

{% block add_item %}
    {{ buttons.add_item('translations_admin_add', 'Add Translation') }}
{% endblock %}

{% block finder %}
    <div data-url="{{ url('translations_admin_finder') }}">
        {{ render(path('translations_admin_finder')) }}
    </div>
{% endblock %}

{% block mobile_back_link %}
    {{ url('translations_admin_home') }}
{% endblock %}

{% block checked_options_buttons %}
    {{ buttons.bulk_delete('translations_admin_delete') }}

    
{% endblock %}