{% extends 'index.twig' %}

{% block title %}Edit Blog Post{% endblock %}

{% block content %}
    {{ form_start(form, 'blog_form.twig') }}

    {% for error in form.errors %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endfor %}

    {{ form_rows(form) }}

    {{ form_submit_button(form) }}

    {{ form_end(form) }}
{% endblock %}