{% extends '@admin/edit_item.twig' %}

{% block title -%}
    {% trans %}Manage Module{% endtrans %}
{% endblock %}

{% block editor_title_new %}
    <span class="light"><a href="{{ url('modules_manage_position', {id: position.id}) }}">{{ position.name }}</a> / <a href="{{ url('modules_admin_add', {position: position.id}) }}">Add Module</a> / </span>{{ module.name }}
{% endblock %}

{% block editor_title_edit %}
    <span class="light"><a href="{{ url('modules_manage_position', {id: position.id}) }}">{{ position.name }}</a> / </span>{{ item.title }}
{% endblock %}

{% block form_start %}
    <span class="always-refresh"></span>
    {{ form_start(form) }}
{% endblock %}