{% extends '@admin/edit_item.twig' %}

{% block title -%}
    {% spaceless %}
        {% if item.id %}
            Editing {{ item.label }}
        {% else %}
            {% trans %}New Menu Item{% endtrans %}
        {% endif %}
    {% endspaceless  %}
{% endblock %}

{% block editor_title_edit %}
    <span class="light">{% trans %}Editing Menu Item{% endtrans %}: <a href="{{ url('menus_admin_manage_items', {id: menu.id}) }}">{{ menu.label }}</a> /</span> <span data-id="{{ item.id }}" data-field="label">{{ item.label }}</span>
{% endblock %}

{% block editor_title_new %}
    New Menu Item
{% endblock %}

{% block form_rows %}
    {{ form_rows(form) }}
{% endblock %}