{% extends '@admin/browser.twig' %}

{% block finder_title %}
    {% trans %}Modules{% endtrans %}
{% endblock %}

{% block expand_finder_button %}
    {{ buttons.expand_finder(bundle.route.modules_admin_home) }}
{% endblock %}

{% block finder_filters %}

{% endblock %}

{% block add_item %}

{% endblock %}

{% block finder %}
    <div data-url="{{ url(bundle.route.modules_admin_finder) }}">
        {{ render(path(bundle.route.modules_admin_finder)) }}
    </div>
{% endblock %}

{% block mobile_back_link %}
    {{ url(bundle.route.modules_admin_home) }}
{% endblock %}

{% block checked_options_buttons %}
    {{ buttons.bulk_delete(bundle.route.modules_admin_delete) }}

    
{% endblock %}