{% extends '@Form/avcms_form.twig' %}

{% block form_label_row %}
    {% spaceless %}
        <div class="form-group{% if form_row.has_error == true %} has-error{% endif %}">
            <div class="control-label">
                {{ form_label(form_row, attr) }}
            </div>

            <div class="form_field">
                {{ form_field(form_row, attr) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block checkbox_row %}
    {% spaceless %}
        <div class="checkbox{% if form_row.has_error == true %} has-error{% endif %}">
                {{ form_field(form_row, attr) }}
        </div>
    {% endspaceless %}
{% endblock %}

{% block input_field %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input type="{{ type }}" name="{{ name }}" {% if value is not empty %}value="{{ value }}"{% endif %} {{ block('attributes') }} />
    {% endspaceless %}
{% endblock %}

{% block textarea_field %}
    {% spaceless %}
        <textarea name="{{ name }}" class="form-control" {{ block('attributes') }}>{% if value is not empty %}{{ value }}{% endif %}</textarea>
    {% endspaceless %}
{% endblock %}

{% block button %}
    {% spaceless %}
        {% set type = type|default('button') %}
        <button type="{{ type }}" {{ block('attributes') }}>{% if label_icon %}<span class="{{ label_icon }}"></span>{% endif %} {{ label }}</button>
    {% endspaceless %}
{% endblock %}

{% block button_field %}
    {{ block('button') }}
{% endblock %}

{% block text_button_field %}
    {% spaceless %}
        <div class="input-group">
            {% set type = 'text' %}
            {{ block('input_field') }}
            <span class="input-group-btn">
                {{ form_field(options.button, options.button.attr) }}
            </span>
        </div>
    {% endspaceless %}
{% endblock %}

{% block messages %}
    <div class="form-messages">
        {% for error in form.errors %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endfor %}
        {% if form.isValid and form.successMessage is not null %}
            <div class="alert alert-success">{{ form.successMessage }}</div>
        {% endif %}
    </div>
{% endblock %}

{% block attributes %}
    {% if attr is not iterable %}
        {% set attr = {} %}
    {% endif %}

    {% if type == 'input' or type == 'textarea' or type == 'text' or type == 'password' or type == 'text_button' or type == 'select' %}
        {% set attr = attr|merge({class: attr.class ~ ' form-control'}) %}
    {% endif %}
    {% if type == 'button' %}
        {% set attr = attr|merge({class: attr.class ~ ' btn btn-default'}) %}
    {% endif %}
    {% if type == 'submit' %}
        {% set attr = attr|merge({class: attr.class ~ ' btn btn-primary'}) %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block form_complete %}
    {{ form_start(form) }}

    {{ form_messages(form) }}

    {{ form_rows(form, attributes) }}

    {{ form_submit_button(form) }}

    {{ form_end(form) }}
{% endblock %}