{% extends 'index.twig' %}

{% block title %}
    {% if category %}
        {{ category.name }}
    {% elseif finder_request.tags %}
        {% trans with {tags: finder_request.tags|replace({'|': ', '})} %}Wallpapers tagged with: {tags}{% endtrans %}
    {% elseif page_type == 'featured' %}
        {% trans %}Featured Wallpapers{% endtrans %}
    {% elseif page_type == 'resolution' %}
        {% trans with {resolution: finder_request.resolution} %}{resolution} Wallpapers{% endtrans %}
    {% elseif page_type == 'likes' %}
        {% trans with {username: likes_user.username} %}Wallpapers liked by {username}{% endtrans %}
    {% else %}
        {% trans %}Browse Wallpapers{% endtrans %}
    {% endif %}

    {% if current_page > 1 %}
        - {% trans with {page: current_page} %}Page {page}{% endtrans %}
    {% endif %}
{% endblock %}

{% block meta_description -%}
    {%- if category and current_page == 1 -%}
        {{ category.description|striptags }}
    {%- endif -%}
{%- endblock %}

{% block content %}
    <div class="browse-wallpapers">
        <div class="box browse-wallpapers-filter-box">
            <div class="box-top">
                <h2>
                    {% if category.parents %}
                        {% for parent in category.parents %}
                            <a href="{{ path('wallpaper_category', {'category': parent.slug}) }}">{{ parent.name }}</a> /
                        {% endfor %}
                    {% endif %}
                    {{ block('title') }}
                </h2>
            </div>
            <div class="box-main">
                {% if category.description %}
                    <p>{{ category.description|raw }}</p>
                {% endif %}

                {% block subcategories -%}
                    {% if category.subcategories %}
                        <p>
                            {% trans %}Subcategories{% endtrans %}:<br/>
                            {% for subcategory in category.subcategories %}
                                <a href="{{ path('wallpaper_category', {'category': subcategory.slug}) }}" class="btn btn-default btn-sm">{{ subcategory.name }}</a>
                            {% endfor %}
                        </p>
                    {% endif %}
                {%- endblock %}

                {% block browse_filters -%}
                    {{ form(filters_form, {}, '@Form/bootstrap_inline_form.twig') }}
                {%- endblock %}
            </div>
        </div>

        {% block wallpapers %}
            {% set column_size = 12 / settings.browse_wallpaper_columns %}

            {% if settings.browse_wallpaper_columns <= 2 %}
                {% set base_thumb_size = 'md' %}
            {% else %}
                {% set base_thumb_size = 'sm' %}
            {% endif %}

            <div class="box browse-wallpapers-main-box">
                <div class="box-main">
                    <div class="row">
                    {% for wallpaper in wallpapers %}
                        <div class="col-sm-{{ column_size }}">
                            {% block wallpaper_thumbnail -%}


                                <a class="thumbnail clearfix" href="{{ path('wallpaper_details', {slug: wallpaper.slug}) }}">
                                    <img src="{{ wp_thumbnail_url(wallpaper, base_thumb_size) }}" srcset="{{ wp_thumbnail_url(wallpaper, base_thumb_size) }} 1x, {{ wp_thumbnail_url(wallpaper, 'md') }} 2x" style="width: 100%" alt="{{ wallpaper.name }}"/>
                                    <div class="pull-left" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width:100%">
                                        {% if admin_settings.show_wallpaper_name %}
                                            {{ wallpaper.name }}
                                        {% endif %}
                                    </div>
                                    <div class="pull-left">
                                        <span class="small">
                                            {% include '@Wallpapers/wallpaper_stats.twig' %}
                                        </span>
                                    </div>
                                </a>
                            {%- endblock %}

                            {% if loop.index % settings.browse_wallpaper_columns == 0 %}
                                </div><div class="row">
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="col-md-12">
                            <div class="well well-lg">{% trans %}No Wallpapers Found{% endtrans %}</div>
                        </div>
                    {% endfor %}
                    </div>

                    {% block wallpapers_pagination %}
                        {{ pagination(total_pages, current_page) }}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
