{% extends 'index.twig' %}

{% block title %}
    {% if category %}
        {{ category.name }}
    {% else %}
        {% trans %}Browse Wallpapers{% endtrans %}
    {% endif %}
{% endblock %}

{% block content %}
    <h2>{{ block('title') }}</h2>

    <div class="box">

                {{ form(filters_form, {}, '@Form/bootstrap_inline_form.twig') }}
    </div>

    <div class="row">
    {% for wallpaper in wallpapers %}
        <div class="col-sm-6">
            <a class="thumbnail clearfix" href="{{ url('wallpaper_details', {slug: wallpaper.slug}) }}">
                <img src="{{ wp_thumbnail_url(wallpaper, 600, 240) }}" width="100%"/>
                <div class="pull-left">
                    {{ wallpaper.name }}
                </div>
                <div class="pull-right">
                    <span class="glyphicon glyphicon-eye-open"></span> {{ wallpaper.hits }}&nbsp;
                    <span class="glyphicon glyphicon-download"></span> {{ wallpaper.totalDownloads }}
                </div>
            </a>
        </div>
    {% else %}
        <div class="well well-lg">{% trans %}No Wallpapers Found{% endtrans %}</div>
    {% endfor %}
    </div>

    {% block wallpapers_pagination %}
        {{ pagination(total_pages, current_page) }}
    {% endblock %}
{% endblock %}
