{% extends 'index.twig' %}

{% block title %}
    {% if category %}
        {{ category.name }}
    {% elseif finder_request.tags %}
        {% trans with {tags: finder_request.tags|replace({'|': ', '})} %}Wallpapers tagged with: {tags}{% endtrans %}
    {% elseif page_type == 'featured' %}
        {% trans %}Featured Wallpapers{% endtrans %}
    {% else %}
        {% trans %}Browse Wallpapers{% endtrans %}
    {% endif %}

    {% if current_page > 1 %}
        - {% trans with {page: current_page} %}Page {page}{% endtrans %}
    {% endif %}
{% endblock %}

{% block meta_description -%}
    {%- if category and current_page == 1 -%}
        {{ category.description }}
    {%- endif -%}
{%- endblock %}

{% block content %}
    <div class="browse-wallpapers">
        <div class="box browse-wallpapers-filter-box">
            <div class="box-top">
                <h2>
                    {% if category.parent %}<a href="{{ path('wallpaper_category', {'category': category.parent.slug}) }}">{{ category.parent.name }}</a> / {% endif %}
                    {{ block('title') }}
                </h2>
            </div>
            <div class="box-main">
                {% block subcategories -%}
                    {% if category.subcategories %}
                        {% trans %}Subcategories{% endtrans %}:<br/>
                        {% for subcategory in category.subcategories %}
                            <a href="{{ path('wallpaper_category', {'category': subcategory.slug}) }}" class="btn btn-default btn-sm">{{ subcategory.name }}</a>
                        {% endfor %}
                    {% endif %}
                {%- endblock %}


                {% block browse_filters -%}
                    <div class="box">
                        {{ form(filters_form, {}, '@Form/bootstrap_inline_form.twig') }}
                    </div>
                {%- endblock %}
            </div>
        </div>

        {% block wallpapers %}
            {% set column_size = 12 / settings.browse_wallpaper_columns %}

            <div class="box browse-wallpapers-main-box">
                <div class="box-main">
                    <div class="row">
                    {% for wallpaper in wallpapers %}
                        <div class="col-sm-{{ column_size }}">
                            {% block wallpaper_thumbnail -%}
                                <a class="thumbnail clearfix" href="{{ url('wallpaper_details', {slug: wallpaper.slug}) }}">
                                    <img src="{{ wp_thumbnail_url(wallpaper) }}" width="100%"/>
                                    <div class="pull-left" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width:100%">
                                        {{ wallpaper.name }}
                                    </div>
                                    <div class="pull-left">
                                        <span class="small">
                                            <span class="glyphicon glyphicon-eye-open"></span> {{ wallpaper.hits }}
                                            &nbsp;<span class="glyphicon glyphicon-download"></span> {{ wallpaper.totalDownloads }}
                                            &nbsp;<span class="glyphicon glyphicon-calendar"></span> {{ wallpaper.publish_date|date(settings.date_format) }}
                                        </span>
                                    </div>
                                </a>
                            {%- endblock %}

                            {% if loop.index % settings.browse_wallpaper_columns == 0 %}
                                </div><div class="row">
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="well well-lg">{% trans %}No Wallpapers Found{% endtrans %}</div>
                    {% endfor %}
                    </div>

                    {% block wallpapers_pagination %}
                        {{ pagination(total_pages, current_page) }}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
