{% if user_settings.show_wallpaper_ratings %}
    <span class="text-success"><span class="glyphicon glyphicon-thumbs-up"></span> {{ wallpaper.likes }}</span>
    <span class="text-danger"><span class="glyphicon glyphicon-thumbs-down"></span> {{ wallpaper.dislikes }}</span>
{% endif %}

{% if user_settings.show_wallpaper_hits %}
    &nbsp;<span class="glyphicon glyphicon-eye-open"></span> {{ wallpaper.hits }}
{% endif %}

{% if user_settings.show_wallpaper_downloads %}
    &nbsp;<span class="glyphicon glyphicon-download"></span> {{ wallpaper.totalDownloads }}
{% endif %}

{% if user_settings.show_wallpaper_date %}
    &nbsp;<span class="glyphicon glyphicon-calendar"></span> {{ wallpaper.publishDate|date(settings.date_format) }}
{% endif %}

{% if user_settings.show_wallpaper_category %}
    &nbsp;<span class="glyphicon glyphicon-folder-close"></span> {{ wallpaper.category.name }}
{% endif %}

{% if user_settings.show_wallpaper_comments %}
    &nbsp;<span class="glyphicon glyphicon-comment"></span> {{ wallpaper.comments }}
{% endif %}
