{% extends 'index.twig' %}

{% block title %}{{ wallpaper.name }} - {% trans %}Wallpaper{% endtrans %}{% endblock %}

{% block meta_description %}{{ wallpaper.description|striptags }}{% endblock %}

{% block header_extra %}
    <meta property="og:title" content="{{ wallpaper.name }}" />
    <meta property="og:image" content="{{ wp_thumbnail_url(wallpaper, 'lg', true) }}" />
    {% if wallpaper.description %}
        <meta property="og:description" content="{{ wallpaper.description|striptags }}" />
    {% endif %}
{% endblock %}

{% block content %}
    <div class="wallpaper-details">
        {% block wallpaper_thumbnail %}
        <div class="box wallpaper-thumbnail-box">
            <div class="box-top">
                <h1>{{ wallpaper.name }}</h1>
            </div>
            <div class="box-main">
                <p>
                    <img src="{{ wp_thumbnail_url(wallpaper, 'lg') }}" alt="{{ wallpaper.name }}" style="width: 100%" class="img-thumbnail" />
                </p>

                <div class="row">
                    <div class="col-md-12 text-center">
                        {{ like_dislike_buttons('wallpaper', wallpaper.id, wallpaper) }}

                        {% if is_granted('PERM_SEND_REPORTS') %}
                            <button class="btn btn-default" data-report-button data-content-type="wallpapers" data-content-id="{{ wallpaper.id }}"><span class="glyphicon glyphicon-bullhorn"></span> {% trans %}Report Issue{% endtrans %}</button>
                        {% endif %}

                        {% if is_granted('ADMIN_WALLPAPERS') %}
                            <a class="btn btn-default" href="{{ path('wallpapers_admin_edit', {'id': wallpaper.id}) }}"><span class="glyphicon glyphicon-pencil"></span> {% trans %}Edit Wallpaper{% endtrans %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}

        {% block wallpaper_info %}
        <div class="box wallpaper-info-box">
            <div class="box-top">
                <h4>{% trans %}Wallpaper Details{% endtrans %}</h4>
            </div>
            <div class="box-main">
                {% if wallpaper.description %}
                    <div class="row">
                        <div class="col-md-12">
                            <p>{{ wallpaper.description|raw }}</p>
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-md-4">
                        <p>{% trans %}Name{% endtrans %}: {{ wallpaper.name }}</p>
                    </div>
                    {% if wallpaper.category %}
                    <div class="col-md-4">
                        <p>{% trans %}Category{% endtrans %}: <a href="{{ path('wallpaper_category', {'category': wallpaper.category.slug}) }}"> {{ wallpaper.category.name }}</a></p>
                    </div>
                    {% endif %}
                    <div class="col-md-4">
                        {% trans %}Tags{% endtrans %}:
                        {% for tag in wallpaper.tags %}
                            <a class="btn btn-default btn-xs" href="{{ path('wallpaper_tag', {tags: tag.slug}) }}">{{ tag.name }}</a>
                        {% else %}
                            {% trans %}None{% endtrans %}
                        {% endfor %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <p>{% trans %}Date Added{% endtrans %}: {{ wallpaper.publishDate|date(settings.date_format) }}</p>
                    </div>
                    <div class="col-md-4">
                        <p>{% trans %}Views{% endtrans %}: {{ wallpaper.hits }} &nbsp;{% trans %}Downloads{% endtrans %}: {{ wallpaper.totalDownloads }}</p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            {% trans %}Original Resolution{% endtrans %}:

                            {% if settings.wallpaper_res_link_type == 'preview' %}
                                {% set orig_res_url = path('wallpaper_preview', {slug: wallpaper.slug, resolution: wallpaper.originalWidth ~ 'x' ~ wallpaper.originalHeight}) %}
                            {% else %}
                                {% set orig_res_url = wp_download_url(wallpaper, wallpaper.originalWidth, wallpaper.originalHeight) %}
                            {% endif %}

                            <a href="{{ orig_res_url }}">{{ wallpaper.originalWidth }}x{{ wallpaper.originalHeight }}</a>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        {% if wallpaper.submitter %}
                            <p>{% trans %}Submitted By{% endtrans %}: {{ user_info(wallpaper.submitter) }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}

        {% if wallpaper.resizeType != 'original' %}
            {% block wallpaper_resolutions %}
                <div class="box wallpaper-resolutions-box">
                    <div class="box-top">
                        <h4>{% trans %}Resolutions{% endtrans %}</h4>
                    </div>
                    <div class="box-main">
                        <div class="row user-resolution">
                            <div class="col-md-12 text-center">
                                {% trans %}Your resolution{% endtrans %}: <a href="#" class="current-res-link btn btn-link"></a>
                            </div>
                        </div>
                        <div class="row">
                            {% for resolution_category, category_resolutions in resolutions %}

                                <div class="col-md-4">
                                    <h4>{{ resolution_category }}</h4>

                                    {% for resolution, name in category_resolutions %}
                                        {% if settings.wallpaper_res_link_type == 'preview' %}
                                            {% set res_url = path('wallpaper_preview', {slug: wallpaper.slug, resolution: resolution}) %}
                                        {% else %}
                                            {% set res = resolution|split('x') %}
                                            {% set res_url = wp_download_url(wallpaper, res[0], res[1]) %}
                                        {% endif %}

                                        <a data-resolution="{{ resolution }}" href="{{ res_url }}">{{ name }}</a><br/>
                                    {% endfor %}
                                </div>

                                {% if loop.index is divisible by(3) %}
                                    </div><div class="row">
                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endblock %}
        {% else %}
            {% block wallpaper_original_resolution %}
                <div class="wallpaper-original-only text-center">
                    <a href="{{ path('wallpaper_preview', {slug: wallpaper.slug, resolution: wallpaper.originalWidth ~ 'x' ~ wallpaper.originalHeight }) }}" class="btn btn-primary btn-lg">
                        {% trans %}Preview & Download{% endtrans %}
                    </a>
                </div>
            {% endblock %}
        {% endif %}

        {{ render_modules('wallpaper_details', {wallpaper: wallpaper}) }}

        {% block wallpaper_comments %}
            {{ comments('wallpaper', wallpaper, wallpaper.comments) }}
        {% endblock %}
    </div>
{% endblock %}
