{% extends 'index.twig' %}

{% block content %}
    <h1>{{ wallpaper.name }}</h1>

    <p>
        <img src="{{ wp_thumbnail_url(wallpaper, 896, 504) }}" alt="{{ wallpaper.name }}" width="100%" class="img-thumbnail" />
    </p>

    <div class="box">
        <div class="box-top">
            <h4>{% trans %}Wallpaper Details{% endtrans %}</h4>

            {% if wallpaper.description %}
                <div class="row">
                    <div class="col-md-12">
                        <p>{{ wallpaper.description }}</p>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-4">
                    <p>{% trans %}Name{% endtrans %}: {{ wallpaper.name }}</p>
                </div>
                <div class="col-md-4">
                    <p>{% trans %}Category{% endtrans %}: {{ wallpaper.category.name }}</p>
                </div>
                <div class="col-md-4">
                    {% trans %}Tags{% endtrans %}:
                    {% for tag in wallpaper.tags %}
                        <a class="btn btn-default btn-xs" href="{{ url('browse_wallpapers', {tags: tag.name}) }}">{{ tag.name }}</a>
                    {% else %}
                        {% trans %}None{% endtrans %}
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <p>{% trans %}Date Added{% endtrans %}: {{ wallpaper.publish_date|date(settings.date_format) }}</p>
                </div>
                <div class="col-md-4">
                    <p>{% trans %}Views{% endtrans %}: {{ wallpaper.hits }}</p>
                </div>
                <div class="col-md-4">
                    <p>{% trans %}Original Resolution{% endtrans %}:
                        <a href="{{ url('wallpaper_preview', {slug: wallpaper.slug, resolution: wallpaper.originalWidth ~ 'x' ~ wallpaper.originalHeight}) }}">{{ wallpaper.originalWidth }}x{{ wallpaper.originalHeight }}</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans %}Resolutions{% endtrans %}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                {% for resolution_category, category_resolutions in resolutions %}

                    <div class="col-md-4">
                        <h4>{{ resolution_category }}</h4>

                        {% for resolution, name in category_resolutions %}
                            <a href="{{ url('wallpaper_preview', {slug: wallpaper.slug, resolution: resolution}) }}">{{ name }}</a><br/>
                        {% endfor %}
                    </div>

                    {% if loop.index is divisible by(3) %}
                        </div><div class="row">
                    {% endif %}

                {% endfor %}
            </div>
        </div>
    </div>

    {% block blog_post_comments %}
        {% if settings.comments_enabled %}
            <div class="box">
                <div class="box-top">
                    <h4>{% trans %}Comments{% endtrans %} ({{ wallpaper.comments }})</h4>
                </div>
                <div class="box-main">
                    {{ comments('wallpaper', wallpaper) }}
                </div>
            </div>
        {% endif %}
    {% endblock %}

{% endblock %}
