<div class="list-group">
    {% for wallpaper in wallpapers %}
        <a href="{{ url('wallpaper_details', {slug: wallpaper.slug}) }}" class="list-group-item">
            <div class="media">
                <span class="media-left" href="#">
                    <img src="{{ wp_thumbnail_url(wallpaper, 84, 50) }}" width="84" height="50"/>
                </span>
                <div class="media-body" style="vertical-align: middle;">
                    <h5 class="media-heading">{{ wallpaper.name }} </h5>
                    <span class="small">
                        {% if user_settings.show_hits %}
                            <span class="glyphicon glyphicon-eye-open"></span> {{ wallpaper.hits }}
                        {% endif %}
                        {% if user_settings.show_downloads %}
                            <span class="glyphicon glyphicon-download"></span> {{ wallpaper.totalDownloads }}
                        {% endif %}
                        {% if user_settings.show_date %}
                            &nbsp;<span class="glyphicon glyphicon-calendar"></span> {{ wallpaper.publish_date|date(settings.date_format) }}
                        {% endif %}
                        {% if user_settings.show_category %}
                            &nbsp;<span class="glyphicon glyphicon-th"></span> {{ wallpaper.category.name }}
                        {% endif %}
                    </span>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
