{% extends 'index.twig' %}

{% block title %}{{ wallpaper.name }} {{ resolution_name }} - {% trans %}Wallpaper{% endtrans %}{% endblock %}

{% block wide_content %}
    <div class="wallpaper-preview-page">
        {{ render_modules('wallpaper_preview_top', {wallpaper: wallpaper, width: wallpaper_width, height: wallpaper_height}) }}

        <div class="box wallpaper-preview-box">
            <div class="box-top">
                <h1>{{ wallpaper.name }} - {{ resolution_name }}</h1>
            </div>
            <div class="box-main">
                {% block wallpaper_preview_buttons %}
                <div class="wallpaper-preview-buttons">
                    <p><a href="{{ wp_download_url(wallpaper, wallpaper_width, wallpaper_height) }}" class="btn btn-primary"><span class="glyphicon glyphicon-download"></span> {% trans %}Download{% endtrans %}</a></p>
                </div>
                {% endblock %}

                {% block wallpaper_preview_image %}
                <div class="wallpaper-preview-container">
                    <a href="{{ wp_image_url(wallpaper, wallpaper_width, wallpaper_height) }}">
                        <img src="{{ wp_image_url(wallpaper, wallpaper_width, wallpaper_height) }}" style="max-width: 100%" class="img-thumbnail"/>
                    </a>
                </div>
                {% endblock %}

                <br/>
                {% block wallpaper_download_info %}
                <div class="wallpaper-download-info">
                    <div class="alert alert-info">
                        {% trans %}Press the download button to save, or{% endtrans %}:<br/>
                        <span class="glyphicon glyphicon-info-sign"></span> {% trans %}Desktop users - Right click to save or set as desktop background{% endtrans %}<br/>
                        <span class="glyphicon glyphicon-info-sign"></span> {% trans %}Mobile users - Tap and hold your finger over the image for save options{% endtrans %}
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>

        {{ render_modules('wallpaper_preview_bottom', {wallpaper: wallpaper, width: wallpaper_width, height: wallpaper_height}) }}
    </div>
{% endblock %}
