<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{% block title %}{% endblock %} - {{ settings.site_name }}</title>
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="{{ site_url }}web/css/style.css" />

    {% for css in css('frontend') %}
        <link href="{{ site_url }}{{ css }}" rel="stylesheet">
    {% endfor %}

    <script type="text/javascript">
        var avcms = avcms || {};

        avcms.config = {
            site_url: '{{ site_url }}'
        }
    </script>

    {% for js in javascripts('frontend') %}
        <script type="text/javascript" src="{{ site_url }}{{ js }}"></script>
    {% endfor %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header class="leaderboard">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {% if user.loggedIn %}
                    Hello <strong>{{ user.username }}</strong>
                {% else %}
                   <a href="{{ url('login') }}">Login</a> / <a href="">Register</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="{{ url('home') }}"><h1>{{ settings.site_name }}</h1></a>
            </div>
        </div>
    </div>
</header>

<section class="container avcms-main">
    <div class="row">
        <div class="col-md-8">
            {% block content %}{% endblock %}
        </div>

        <div class="col-md-4">
            {% for module in modules('left_sidebar') %}
                {% include module.template %}
            {% endfor %}
        </div>
    </div>
</section>

<footer class="container">
    {% block footer %}
    <div class="row">
        <div class="col-md-4">
            Copyright AV Scripts 2014
        </div>
    </div>
    {% endblock %}
</footer>

</body>
</html>