<!DOCTYPE html>
<html>
<head>
    {% block head_title %}
        {% set title = block('title') %}
            <title>{{ title }}{% if title is not empty %} - {% endif %}{{ settings.site_name }}</title>
    {% endblock %}

    {% include '@CmsFoundation/common_header.twig' %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% set meta_description = block('meta_description') %}
    {% if meta_description is not empty %}
        <meta name="description" content="{{ meta_description }}">
    {% endif %}
</head>
<body>

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% if user.loggedIn %}
                    {{ user_info(user) }}
                    - <a href="{{ url('logout') }}">{% trans %}Logout{% endtrans %}</a>
                    {% if is_granted(['ROLE_ADMIN', 'ROLE_SUPER_ADMIN']) %}
                        | <a href="{{ url('admin_dashboard') }}">{% trans %}Admin{% endtrans %}</a>
                    {% endif %}
                {% elseif settings.users_enabled %}
                   <a href="{{ url('login') }}">{% trans %}Login{% endtrans %}</a> / <a href="{{ url('register') }}">{% trans %}Register{% endtrans %}</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="{{ url('home') }}">
                    {% if settings.logo_image_url %}
                        <img class="logo-image" src="{{ settings.logo_image_url }}" />
                    {% else %}
                        <h1>{{ settings.site_name }}</h1>
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
</header>

<nav class="navbar navbar-default navbar-static-top main-menu" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="main-menu-collapse">
            <ul class="nav navbar-nav">
                {% for menu_item in menu('frontend') %}
                    {% if menu_item.children|length == 0 %}
                        <li><a href="{{ menu_item.url }}"><span class="{{ menu_item.icon }}"></span> {{ menu_item.label }}</a></li>
                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="{{ menu_item.icon }}"></span> {{ menu_item.label }} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                {% for sub_menu_item in menu_item.children %}
                                    <li class="sub-menu-item"><a href="{{ sub_menu_item.url }}"><span class="{{ sub_menu_item.icon }}"></span> {{ sub_menu_item.label }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>

                    {% endif %}

                {% endfor %}
            </ul>

            <form class="navbar-form navbar-right" role="search" id="search_form">
                <div class="form-group">
                    <div class="input-group">
                        {{ form_field(search_form.search) }}
                        <div class="input-group-btn">
                            {{ form_field(search_form.content_type, {class: 'search-select'}) }}

                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>

{% block full_width_content %}
<section class="container avcms-main">
        {% for message in get_messages() %}
            <div class="alert alert-info">{{ message.message }}</div>
        {% endfor %}

        <div class="row">
        <div class="col-md-8">
            {% block content %}{% endblock %}
        </div>

        <div class="col-md-4">
            {% for module in modules('left_sidebar') %}
                {% include module.template %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

<footer class="container">
    {% block footer %}
    <div class="row">
        <div class="col-md-4">
            Copyright AV Scripts 2014
        </div>
    </div>
    {% endblock %}
</footer>

<div class="loader"><img src="{{ site_url }}/web/resources/CmsFoundation/images/loader.gif" /></div>
</body>
</html>
