<!DOCTYPE html>
<html>
<head>
    {% block head_title %}
        <title>{% block title %}{% endblock %} - {{ settings.site_name }}</title>
    {% endblock %}

    {% for css in css('frontend') %}
        <link href="{{ site_url }}{{ css }}" rel="stylesheet">
    {% endfor %}

    <link rel="stylesheet" type="text/css" href="{{ site_url }}web/css/style.css" />

    {% include '@CmsFoundation/inline_js.twig' %}

    {% for js in javascripts('frontend') %}
        <script type="text/javascript" src="{{ site_url }}{{ js }}"></script>
    {% endfor %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="UTF-8">

    {% set meta_description = block('meta_description') %}
    {% if meta_description is not empty %}
        <meta name="description" content="{{ meta_description }}">
    {% endif %}
</head>
<body>

<header class="leaderboard">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% if user.loggedIn %}
                    Hello <strong><a href="{{ url('user_profile', {slug: user.slug}) }}">{{ user.username }}</a></strong>
                    - <a href="{{ url('logout') }}">{% trans %}Logout{% endtrans %}</a>
                    {% if is_granted(['ROLE_ADMIN', 'ROLE_SUPER_ADMIN']) %}
                        | <a href="{{ url('admin_dashboard') }}">{% trans %}Admin{% endtrans %}</a>
                    {% endif %}
                {% else %}
                   <a href="{{ url('login') }}">{% trans %}Login{% endtrans %}</a> / <a href="{{ url('register') }}">{% trans %}Register{% endtrans %}</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="{{ url('home') }}"><h1>{{ settings.site_name }}</h1></a>
            </div>
        </div>
    </div>
</header>

<nav class="navbar navbar-default navbar-static-top main-menu" role="navigation">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu-collapse">
            {% trans %}Main Menu{% endtrans %}
        </button>
        <div class="collapse navbar-collapse" id="main-menu-collapse">
            <ul class="nav navbar-nav">
                {% for menu_item in menu('frontend') %}
                    {% if menu_item.children|length == 0 %}
                        <li><a href="{{ menu_item.url }}"><span class="{{ menu_item.icon }}"></span> {{ menu_item.label }}</a></li>
                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="{{ menu_item.icon }}"></span> {{ menu_item.label }} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                {% for sub_menu_item in menu_item.children %}
                                    <li class="sub-menu-item"><a href="{{ sub_menu_item.url }}"><span class="{{ sub_menu_item.icon }}"></span> {{ sub_menu_item.label }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>

                    {% endif %}

                {% endfor %}
            </ul>
        </div>
    </div>
</nav>

{% block full_width_content %}
<section class="container avcms-main">

        <div class="row">
        <div class="col-md-8">
            {% block content %}{% endblock %}
        </div>

        <div class="col-md-4">
            {% for module in modules('left_sidebar') %}
                {% include module.template %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

<footer class="container">
    {% block footer %}
    <div class="row">
        <div class="col-md-4">
            Copyright AV Scripts 2014
        </div>
    </div>
    {% endblock %}
</footer>

</body>
</html>