{% extends 'index.twig' %}

{% block title %}{{ image_collection.name }}{% endblock %}

{% block meta_description %}{{ image_collection.description|striptags }}{% endblock %}

{% block header_extra %}
    <meta property="og:title" content="{{ image_collection.name }}" />
    <meta property="og:image" content="{{ image_thumbnail(image_collection) }}" />
    <meta property="og:description" content="{{ image_collection.description|striptags }}" />
{% endblock %}

{% block content %}
    {% block image_top_modules %}
        <div class="image-top-modules">
            {{ render_modules('image_collection_top') }}
        </div>
    {% endblock %}

    {% block image_box %}
        <div class="box box-primary image-box">
            <div class="box-top">
                <h2>{{ image_collection.name }}</h2>

                <p>{{ image_collection.description|raw }}</p>
            </div>

            <div class="box-main">
                {% block image_box_main %}
                    {% if image_collection.type == 'default' %}
                        {% set type = settings.images_default_collection_type %}
                    {% else %}
                        {% set type = image_collection.type %}
                    {% endif %}

                    {% if type == 'list' %}
                        {% include '@Images/embeds/image_list.twig' %}
                    {% else %}
                        {% include '@Images/embeds/image_gallery.twig' %}
                    {% endif %}

                {% endblock %}
            </div>
            <div class="box-footer">
                <div class="text-center">
                    {{ like_dislike_buttons('image', image_collection.id, image_collection) }}

                    {% if is_granted('ADMIN_IMAGES') %}
                        <a class="btn btn-default" href="{{ path('images_admin_edit', {'id': image_collection.id}) }}"><span class="glyphicon glyphicon-pencil"></span> {% trans %}Edit Collection{% endtrans %}</a>
                    {% endif %}

                    {% if is_granted('PERM_SEND_REPORTS') %}
                        <button class="btn btn-default" data-report-button data-content-type="images" data-content-id="{{ image_collection.id }}"><span class="glyphicon glyphicon-bullhorn"></span> {% trans %}Report Issue{% endtrans %}</button>
                    {% endif %}

                    {% if image_collection.downloadable == '1' or (image_collection.downloadable == 'default' and settings.images_default_download == '1') %}
                        <a href="{{ path('download_image_collection', {slug: image_collection.slug}) }}" class="btn btn-primary"><span class="glyphicon glyphicon-download"></span> {% trans %}Download{% endtrans %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}

    <div class="row">
        <div class="col-md-12">
            {% block image_details_box %}
                <div class="box image-details-box">
                    <div class="box-top">
                        <h4>{% trans %}Details{% endtrans %}</h4>
                    </div>
                    <div class="box-main">
                        <div class="row">
                            <div class="col-md-4">
                                <p>{% trans %}Date Added{% endtrans %}: {{ image_collection.datePublished|date(settings.date_format) }}</p>
                            </div>
                            <div class="col-md-4">
                                <p>{% trans %}Category{% endtrans %}: <a href="{{ path('image_category', {'category': image_collection.category.slug}) }}"> {{ image_collection.category.name }}</a></p>
                            </div>
                            <div class="col-md-4">
                                <p>{% trans with {hits: image_collection.hits} %}Viewed {hits} times{% endtrans %}</p>
                            </div>

                         </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    {% trans %}Tags{% endtrans %}:
                                    {% for tag in image_collection.tags %}
                                        <a class="btn btn-default btn-xs" href="{{ path('image_tag', {'tags': tag.name}) }}">{{ tag.name }}</a>
                                    {% else %}
                                        {% trans %}None{% endtrans %}
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {% if image_collection.submitter %}
                                    <p>{% trans %}Submitted By{% endtrans %}: {{ user_info(image_collection.submitter) }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block image_details_modules %}
                <div class="image-details-modules">
                    {{ render_modules('image_collection_details') }}
                </div>
            {% endblock %}

            {% block image_comments %}
                {{ comments('image', image_collection, image_collection.comments) }}
            {% endblock %}
        </div>
    </div>
{% endblock %}
