{% if admin_settings.show_image_ratings %}
    <span class="text-success"><span class="glyphicon glyphicon-thumbs-up"></span> {{ image.likes }}</span>
    <span class="text-danger"><span class="glyphicon glyphicon-thumbs-down"></span> {{ image.dislikes }}</span>
{% endif %}

{% if admin_settings.show_image_hits %}
    &nbsp;<span title="{% trans %}Times Image Viewed{% endtrans %}"><span class="glyphicon glyphicon-eye-open"></span> {{ image.hits }}</span>
{% endif %}

{% if admin_settings.show_image_date %}
    &nbsp;<span class="glyphicon glyphicon-calendar"></span> {{ image.publishDate|date(settings.date_format) }}
{% endif %}

{% if admin_settings.show_image_category %}
    &nbsp;<span class="glyphicon glyphicon-folder-close"></span> {{ image.category.name }}
{% endif %}

{% if admin_settings.show_image_comments %}
    &nbsp;<span class="glyphicon glyphicon-comment"></span> {{ image.comments }}
{% endif %}
