<a class="thumbnail browse-images-thumbnail avcms-level-thumbnails clearfix" href="{{ path('image_collection', {slug: image.slug}) }}">
    <img src="{{ image_thumbnail(image) }}" width="100%"/>
    <div class="pull-left" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width:100%">
        {{ image.name }}
        {% if admin_settings.show_image_description %}
            <br/><span class="small" title="{{ image.description|striptags }}">{{ image.description|striptags }}</span>
        {% endif %}
    </div>
    <div class="pull-left">
        <span class="small">
            {% include '@Images/image_stats.twig' %}
        </span>
    </div>
</a>
