{% extends '@DevTools/index.twig' %}

{% block title %}Manage Bundle: {{ bundle_config.name }}{% endblock %}

{% block content %}
    {% if bundle_enabled %}
        {% set btn_color = 'success' %}
    {% else %}
        {% set btn_color = 'warning' %}
    {% endif %}
    <div class="row">
        <div class="col-sm-8">
            {% if bundle_enabled %}{% set enabled_text = "Active" %}{% else %}{% set enabled_text = "Inactive" %}{% endif %}
            <strong id="status">Status: <span class="text-{{ btn_color }}">{{ enabled_text }}</span></strong> &nbsp;&nbsp;
            <strong>Namespace:</strong> {{ bundle_config.namespace }}

            {% if bundle_config.require %}
                <p><strong>Required Bundles:</strong>
                    {% for bundle in bundle_config.require %}
                        {% if bundle_manager.hasBundle(bundle) %}
                            {% set text = 'text-success' %}
                        {% else %}
                            {% set text = 'text-danger' %}
                        {% endif %}
                        <span class="{{ text }}">{{ bundle }}</span>&nbsp;&nbsp;
                    {% endfor %}
                </p>
            {% endif %}

            <h4>Routes</h4>
            <p>
                {% for route_name, route in routes %}
                    <strong>{{ route_name }}</strong>:
                    {% if route.link_route and bundle_enabled %}
                        <a href="{{ path(route_name) }}">{{ route.path }}</a>
                    {% else %}
                        {{ route.path }}
                    {% endif %}
                    <br/>
                {% else %}
                    No routes
                {% endfor %}
            </p>

            {% if bundle_config.disable_content == false %}
                <p>
                    <h4>Manage Generated Content</h4>
                    <div class="content-types">
                        {% for content_name, content in bundle_content %}
                            <a href="{{ path('bundle_edit_content', {bundle: bundle_config.name, content_name: content_name}) }}" class="btn btn-{{ btn_color }}">
                                {{ content.uc_plural }}
                            </a>
                        {% else %}
                            No generated content
                        {% endfor %}
                    </div>
                </p>
            {% endif %}
        </div>

        <div class="col-sm-4">
            <div class="list-group">
                {% if bundle_enabled %}{% set enabled_button = "Bundle Active" %}{% else %}{% set enabled_button = "Bundle Inactive" %}{% endif %}

                {% if bundle_config.core == false %}
                    <a data-bundle-name="{{ bundle_config.name }}" href="#" class="status-button list-group-item list-group-item-{{ btn_color }}">
                        <span class="glyphicon glyphicon-unchecked"></span> {{ enabled_button }}
                    </a>
                {% endif %}

                {% if bundle_config.disable_content != true %}
                <a href="{{ path('bundle_add_content', {'bundle': bundle_config.name}) }}" class="list-group-item"><span class="glyphicon glyphicon-plus-sign"></span> Add Content</a>
                {% endif %}

                <a href="{{ path('review_bundle_translations', {bundle: bundle_config.name}) }}" class="list-group-item">
                    <span class="glyphicon glyphicon-flag"></span> Review Translations
                </a>
            </div>
        </div>
    </div>
{% endblock %}
