{% macro edit_button(ajax_route, item_id) %}
    <a class="btn btn-xs btn-default" href="{{ url(ajax_route, {'id': item_id}) }}">
        <span class="glyphicon glyphicon-edit"></span> Edit
    </a>
{% endmacro %}

{% macro publish_button(published, ajax_route) %}
    {% if published == 1 %}
        {% set published_btn_class = 'btn-default' %}
        {% set published_btn_icon = 'glyphicon-eye-open' %}
    {% else %}
        {% set published_btn_class = 'btn-danger' %}
        {% set published_btn_icon = 'glyphicon-eye-close' %}
    {% endif %}

    <button class="btn btn-xs {{ published_btn_class }} avcms-toggle-published" data-toggle-publish-url="{{ url(ajax_route) }}">
        <span class="glyphicon {{ published_btn_icon }}"></span>
    </button>
{% endmacro %}

{% macro delete_button(ajax_route) %}
    <button class="btn btn-xs btn-default avcms-delete-item" data-delete-url="{{ url(ajax_route) }}">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
{% endmacro %}

{% macro view_button(route, route_vars) %}
    <a class="btn btn-xs btn-default" href="{{ url(route, route_vars) }}" target="_blank">
        <span class="glyphicon glyphicon-new-window"></span>
    </a>
{% endmacro %}