{% macro edit(ajax_route, item_id, label) %}
    {% if label == null %}
        {% set label = 'Edit' %}
    {% endif %}
    <a class="btn btn-xs btn-default" href="{{ url(ajax_route, {'id': item_id}) }}">
        <span class="glyphicon glyphicon-edit"></span> {{ label|trans }}
    </a>
{% endmacro %}

{% macro manage(ajax_route, item_id) %}
    <a class="btn btn-xs btn-default" href="{{ url(ajax_route, {'id': item_id}) }}">
        <span class="glyphicon glyphicon-th-list"></span> {% trans %}Manage{% endtrans %}
    </a>
{% endmacro %}

{% macro publish(published, ajax_route) %}
    {% if published == 1 %}
        {% set published_btn_class = 'btn-default' %}
        {% set published_btn_icon = 'glyphicon-eye-open' %}
    {% else %}
        {% set published_btn_class = 'btn-danger' %}
        {% set published_btn_icon = 'glyphicon-eye-close' %}
    {% endif %}

    <button class="btn btn-xs {{ published_btn_class }} avcms-toggle-published" data-toggle-publish-url="{{ url(ajax_route) }}">
        <span class="glyphicon {{ published_btn_icon }}"></span>
    </button>
{% endmacro %}

{% macro featured(featured, ajax_route) %}
    {% if featured == 1 %}
        {% set featured_btn_class = 'btn-warning' %}
        {% set featured_btn_icon = 'glyphicon-star' %}
    {% else %}
        {% set featured_btn_class = 'btn-default' %}
        {% set featured_btn_icon = 'glyphicon-star-empty' %}
    {% endif %}

    <button class="btn btn-xs {{ featured_btn_class }} avcms-toggle-featured" data-toggle-featured-url="{{ url(ajax_route) }}">
        <span class="glyphicon {{ featured_btn_icon }}"></span>
    </button>
{% endmacro %}

{% macro delete(ajax_route) %}
    <button class="btn btn-xs btn-default avcms-delete-item" data-delete-url="{{ url(ajax_route) }}">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
{% endmacro %}

{% macro view(route, route_vars) %}
    <a class="btn btn-xs btn-default" href="{{ url(route, route_vars) }}" target="_blank">
        <span class="glyphicon glyphicon-new-window"></span>
    </a>
{% endmacro %}

{% macro bulk_delete(ajax_route) %}
    <button type="button" class="btn btn-default btn-sm" data-bulk-delete-url="{{ url(ajax_route) }}">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
{% endmacro %}

{% macro bulk_publish(ajax_route) %}
    <button type="button" class="btn btn-default btn-sm" data-toggle-published-url="{{ url(ajax_route) }}">
        <span class="glyphicon glyphicon-eye-open"></span>
    </button>
{% endmacro %}

{% macro bulk_unpublish(ajax_route) %}
    <button type="button" class="btn btn-default btn-sm" data-toggle-unpublished-url="{{ url(ajax_route) }}">
        <span class="glyphicon glyphicon-eye-close"></span>
    </button>
{% endmacro %}

{% macro bulk_feature(ajax_route) %}
    <button type="button" class="btn btn-default btn-sm" data-toggle-featured-url="{{ url(ajax_route) }}">
        <span class="glyphicon glyphicon-star"></span>
    </button>
{% endmacro %}

{% macro bulk_unfeature(ajax_route) %}
    <button type="button" class="btn btn-default btn-sm" data-toggle-unfeatured-url="{{ url(ajax_route) }}">
        <span class="glyphicon glyphicon-star-empty"></span>
    </button>
{% endmacro %}

{% macro expand_finder(ajax_route) %}
    <div class="expand-browser">
        <a href="{{ url(ajax_route) }}"><span class="glyphicon glyphicon-arrow-right"></span></a>
    </div>
{% endmacro %}

{% macro add_item(ajax_route, label, icon) %}
    {% if icon == null %}
        {% set icon = 'glyphicon-plus' %}
    {% endif %}
    <div class="add-item">
        <a href="{{ url(ajax_route) }}">
            <span class="glyphicon {{ icon }}"></span> {{ label|trans }}
        </a>
    </div>
{% endmacro %}
