<article class="box blog-post-container">
    <div class="box-top">
        {% if posts %}
            <h2><a href="{{ url('blog_post', {slug: post.slug}) }}">{{ post.title }}</a></h2>
        {% else %}
            <h2>{{ post.title }}</h2>
        {% endif %}
        <p>{% trans %}By{% endtrans %} {{ user_info(post.user) }} &nbsp;&nbsp;{{ post.publishDate|date(settings.date_format) }}</p>
    </div>

    <div class="box-main">
        {{ post.body|raw }}
    </div>

    <div class="box-footer">
        {% if settings.show_blog_hits %}
            <span class="text-muted"><span class="glyphicon glyphicon-eye-open"></span> {{ post.hits }}</span>
        {% endif %}

        {% if settings.comments_enabled %}
            <a class="btn btn-link btn-sm" href="{{ url('blog_post', {slug: post.slug}) }}#comments"><span class="glyphicon glyphicon-comment"></span> {% trans %}Comments{% endtrans %} ({{ post.comments }})</a>
        {% endif %}

        {% if is_granted('ADMIN_BLOG')  %}
            <a class="btn btn-link btn-sm" href="{{ url('blog_edit_post', { id: post.id}) }}"><span class="glyphicon glyphicon-edit"></span> {% trans %}Edit Post{% endtrans %}</a>
        {% endif %}

        {% for tag in post.tags %}
            <a class="btn btn-default btn-xs" href="{{ url('blog_archive', {tags: tag.name}) }}">{{ tag.name }}</a>
        {% endfor %}
    </div>
</article>
