{% block embed_extra_before %}{% endblock %}

<div id="avcms-game-container" data-original-width="{{ game.width }}" data-original-height="{{ game.height }}">
    <div id="avcms-game-container-inner" style="width: {{ game.width }}px;height: {{ game.height }}px;margin: auto;">
        {% block embed_code %}{% endblock %}
    </div>
</div>

{% if (game.advertId or settings.game_ad_default) and (is_granted('ELEVATED_NO_GAME_ADS') == false or settings.game_ad_show_to_everyone) and show_advert == true %}
    <div id="avcms-game-advert">
        <div class="game-advert-info">
            <div id="avcms-game-advert-countdown" data-countdown-time="{{ settings.game_ad_countdown }}">{{ settings.game_ad_countdown }}</div>
            {% if settings.game_ad_allow_skip %}
                <div id="avcms-game-advert-skip">
                    <button class="btn btn-default btn-sm">{% trans %}Skip Advert{% endtrans %} <span class="glyphicon glyphicon-arrow-right"></span> </button>
                </div>
            {% endif %}
        </div>
        <div class="game-advert-main">
            {% if game.advertId %}
                {{ advert(game.advertId) }}
            {% else %}
                {{ advert(settings.game_ad_default) }}
            {% endif %}
        </div>
    </div>
{% endif %}
