{% extends database_columns_form.isSubmitted ? '@dev/bundle_new_content.twig' : '@dev/bundle_new_content_empty.twig' %}

{% block content %}
    {{ form_start(database_columns_form) }}

    {{ form_rows_before(database_columns_form, 'columns') }}

    <table class="table">
        <tr>
            <th>Database Field</th>
            <th>Getter/Setter Methods</th>
            <th>Entity *</th>
            <th>Form Field *</th>
            <th>Form Label</th>
        </tr>
        {% for column_name, column in columns %}
            {% set base_field = database_columns_form.columns.fields[column_name].fields %}
            <tr>
                <td><h5>{{ column_name }}</h5></td>
                <td>
                    Getter: {{ column.getter }}<br />
                    Setter: {{ column.setter }}
                </td>
                <td>
                    {{ form_row(base_field.entity) }}
                </td>
                <td>
                    {{ form_field(base_field.form_field, {class: 'input-sm'}) }}
                </td>

                <td>
                    {{ form_field(base_field.form_label, {class: 'input-sm'}) }}
                </td>
            </tr>
        {% endfor %}
    </table>

    {{  form_rows_after(database_columns_form, 'columns') }}

    <div style="text-align: right">
        {{ form_submit_button(database_columns_form) }}
    </div>

    {{ form_end(database_columns_form) }}
{% endblock %}