<div style="margin-top: 15px;" class="browse-games-details media">
    <div class="media-left">
        <a class="img-thumbnail" href="{{ path('play_game', {slug: game.slug}) }}">
            <img src="{{ game_thumbnail(game) }}" width="80"/>
        </a>
    </div>
    <div class="media-body">
        <strong><a href="{{ path('play_game', {slug: game.slug}) }}">{{ game.name }}</a></strong>

        {% if admin_settings.show_game_description %}
            <span class="small" title="{{ game.description|striptags }}">{{ game.description|truncate(100)|striptags }}</span><br/>
        {% endif %}

        <span class="small text-muted">
            {% include '@Games/game_stats.twig' %}
        </span>
    </div>
</div>
