<a class="thumbnail layout-games-thumbnail clearfix {% if settings.games_square_thumbnails %}square{% endif %}" href="{{ path('play_game', {slug: game.slug}) }}">
    <img src="{{ game_thumbnail(game) }}" width="100%"/>
    <div class="pull-left" style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width:100%">
        {{ game.name }}
        {% if admin_settings.show_game_description %}
            <br/><span class="small" title="{{ game.description|striptags }}">{{ game.description|striptags }}</span>
        {% endif %}
    </div>
    <div class="pull-left">
        <span class="small">
            {% include '@Games/game_stats.twig' %}
        </span>
    </div>
</a>
