{% extends 'index.twig' %}

{% block title %}{{ game.name }} - {% trans %}Game{% endtrans %}{% endblock %}

{% block meta_description %}{{ game.description|striptags }}{% endblock %}

{% block header_extra %}
    <meta property="og:title" content="{{ game.name }}" />
    <meta property="og:image" content="{{ game_thumbnail(game) }}" />
    <meta property="og:description" content="{{ game.description|striptags }}" />
{% endblock %}

{% block wide_content %}
    {% block game_top_modules %}
        <div class="game-top-modules">
            {{ render_modules('play_game_top') }}
        </div>
    {% endblock %}

    {% block game_box %}
        <div class="box box-primary game-box">
            <div class="box-top">

                <div class="media">
                    <div class="media-left">
                        <img class="media-object" src="{{ game_thumbnail(game) }}" alt="{{ game.name }}" height="65">
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{ game.name }}</h2>
                        <a href="{{ path('game_category', {'category': game.category.slug}) }}">
                           <span class="glyphicon glyphicon-folder-open"></span> &nbsp;{{ game.category.name }}
                        </a>
                    </div>
                </div>
            </div>

            <div class="box-main">
                {% block game_box_main %}
                <div class="row">
                    <div class="col-lg-12">
                        {% if plays_left and settings.games_limit_plays %}
                            <div class="alert alert-info">{% trans with {total: plays_left} %}You have {total} game plays remaining before you must register{% endtrans %}</div>
                        {% endif %}

                        {{ embed_game(game) }}
                    </div>
                </div>
                {% endblock %}
            </div>
            <div class="box-footer">
                <div class="text-center">
                    {{ like_dislike_buttons('game', game.id, game) }}

                    {% if is_granted('ADMIN_GAMES') %}
                        <a class="btn btn-default" href="{{ path('games_admin_edit', {'id': game.id}) }}"><span class="glyphicon glyphicon-pencil"></span> {% trans %}Edit Game{% endtrans %}</a>
                    {% endif %}

                    {% if game.fileExtension != 'unity3d' %}
                        <button class="btn btn-default" id="avcms-game-fullscreen"><span class="glyphicon glyphicon-fullscreen"></span> {% trans %}Fullscreen{% endtrans %}</button>
                    {% endif %}

                    {% if is_granted('PERM_SEND_REPORTS') %}
                        <button class="btn btn-default" data-report-button data-content-type="games" data-content-id="{{ game.id }}"><span class="glyphicon glyphicon-bullhorn"></span> {% trans %}Report Issue{% endtrans %}</button>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}

    <div class="row">
        <div class="col-md-4 col-md-push-8">
            {{ render_modules('play_game_sidebar', {game: game}) }}
        </div>
        <div class="col-md-8 col-md-pull-4">

            {{ render_modules('play_game_below') }}

            {% block game_instructions_box %}
                {% if game.instructions %}
                    <div class="box">
                        <div class="box-top">
                            <h4>{% trans %}Instructions{% endtrans %}</h4>
                        </div>
                        <div class="box-main">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p>{{ game.instructions|raw }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endblock %}

            {% block game_details_box %}
                <div class="box game-details-box">
                    <div class="box-top">
                        <h4>{% trans %}Game Details{% endtrans %}</h4>
                    </div>
                    <div class="box-main">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="game-description">{{ game.description|raw }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p>{% trans %}Date Added{% endtrans %}: {{ game.datePublished|date(settings.date_format) }}</p>
                            </div>
                            <div class="col-md-4">
                                <p>{% trans %}Category{% endtrans %}: <a href="{{ path('game_category', {'category': game.category.slug}) }}"> {{ game.category.name }}</a></p>
                            </div>
                            <div class="col-md-4">
                                <p>{% trans with {plays: game.hits} %}Played {plays} times{% endtrans %}</p>
                            </div>

                         </div>
                        <div class="row">
                            <div class="col-md-12">
                                {% trans %}Tags{% endtrans %}:
                                {% for tag in game.tags %}
                                    <a class="btn btn-default btn-xs" href="{{ path('game_tag', {'tags': tag.name}) }}">{{ tag.name }}</a>
                                {% else %}
                                    {% trans %}None{% endtrans %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block game_details_modules %}
                <div class="game-details-modules">
                    {{ render_modules('play_game_details') }}
                </div>
            {% endblock %}

            {% block game_comments %}
                {{ comments('game', game, game.comments) }}
            {% endblock %}
        </div>
    </div>
{% endblock %}
