{% block form_start %}
    {% spaceless %}
    <form enctype="{{ form.params.encoding }}" {% if form.params.action is not empty %}action="{{ form.params.action }}"{% endif %} {% if form.params.name is not empty %}name="{{ form.params.name }}"{% endif %} method="{{ form.params.method }}"{{ block('attributes') }}>
    {% endspaceless %}
{% endblock %}

{% block form_end %}
    {% spaceless %}
    </form>
    {% endspaceless %}
{% endblock %}

{% block input_field %}
    {% spaceless %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" name="{{ name }}" {% if value is not empty %}value="{{ value }}" {% endif %} {{ block('attributes') }} />
    {% endspaceless %}
{% endblock %}

{% block password_field %}
    {% spaceless %}
    {% set type = type|default('password') %}
    {{ block('input_field') }}
    {% endspaceless %}
{% endblock %}

{% block text_field %}
    {% spaceless %}
        {% set type = type|default('text') %}
        {{ block('input_field') }}
    {% endspaceless %}
{% endblock %}

{% block hidden_field %}
    {% spaceless %}
        {% set type = type|default('hidden') %}
        {{ block('input_field') }}
    {% endspaceless %}
{% endblock %}

{% block file_field %}
    {% spaceless %}
        {% set type = type|default('file') %}
        {{ block('input_field') }}
    {% endspaceless %}
{% endblock %}

{% block textarea_field %}
    {% spaceless %}
        <textarea name="{{ name }}" {{ block('attributes') }}>{% if value is not empty %}{{ value }}{% endif %}</textarea>
    {% endspaceless %}
{% endblock %}

{% block select_field %}
    {% spaceless %}
        <select name="{{ name }}" {{ block('attributes') }}>
            {% if attribute(attr, 'data-placeholder') is defined %}<option></option>{% endif %}
            {% if options.choices is not empty %}
                {% for choice_value, choice_name in options.choices %}
                    <option value="{{ choice_value }}" {% if choice_value == value or choice_value in value %}selected="selected"{% endif %}>{{ choice_name }}</option>
                {% endfor %}
            {% endif %}
        </select>
    {% endspaceless %}
{% endblock %}

{% block radio_field %}
    {% spaceless %}
        {% if options.choices is not empty %}
            {% for choice_value, choice_name in options.choices %}
                <label><input type="radio" name="{{ name }}" value="{{ choice_value }}" id="{{ name }}_{{ choice_value }}" {% if choice_value is sameas(value) %}checked="checked"{% endif %} /> &nbsp;{{ choice_name }}</label>&nbsp;
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block checkbox_field %}
    {% spaceless %}
        <label><input type="checkbox" name="{{ name }}" {% if value is not empty %}value="{{ value }}" {% endif %} {% if options.checked == true %}checked="checked"{% endif %} /> {{ options.label }}</label>
    {% endspaceless %}
{% endblock %}

{% block form_label %}
    {% spaceless %}
    {% set label = options.label|default('') %}
    <label>{{ label }}{% if options.required is not empty %} *{% endif %}</label>
    {% endspaceless %}
{% endblock %}

{% block submit_button %}
    {% spaceless %}
        {% set label = label|default('Submit') %}
        {% set type = type|default('submit') %}
        {{ block('button') }}
    {% endspaceless %}
{% endblock %}

{% block button_field %}
    {% spaceless %}
        {% set type = type|default('button') %}
        <button type="{{ type }}">{{ options.label }}</button>
    {% endspaceless %}
{% endblock %}

{% block form_rows %}
    {% spaceless %}
        {% for form_row in form_rows %}
            {{ form_row(form_row, attr[form_row.name]|default({})) }}
        {% endfor %}
    {% endspaceless %}
{% endblock %}

{% block form_label_row %}
    {% spaceless %}
        <div class="form_row">
            {{ form_label(form_row, attr) }}
            {{ form_field(form_row, attr) }}
        </div>
    {% endspaceless %}
{% endblock %}

{% block checkbox_row %}
    {% spaceless %}
        <div class="form_row">
            {{ form_field(form_row) }}
        </div>
    {% endspaceless %}
{% endblock %}

{% block hidden_row %}
    {% spaceless %}
        {{ form_field(form_row) }}
    {% endspaceless %}
{% endblock %}

{% block collection_field %}
    {% spaceless %}
        {% for field in fields %}
            {{ form_row(field) }}
        {% endfor %}
    {% endspaceless %}
{% endblock %}

{% block attributes %}
    {% for attr_name, attr_value in attr %}
        {{ attr_name }}="{{- attr_value -}}"
    {% endfor %}
{% endblock %}