{% set site_url = url('home') %}

<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{% block title %}{% endblock %} - My Web Page</title>
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="{{ site_url }}web/css/style.css" />
    <link href="{{ site_url }}web/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site_url }}web/css/bootstrap-markdown.min.css" rel="stylesheet">
    <link href="{{ site_url }}web/css/select2.css" rel="stylesheet">
    <link href="{{ site_url }}web/css/select2-bootstrap.css" rel="stylesheet">

    {% for css in css('frontend') %}
        <link href="{{ site_url }}{{ css }}" rel="stylesheet">
    {% endfor %}

    <link href="{{ site_url }}web/css/avcms-blocks.css" rel="stylesheet">

    {% for js in javascripts('frontend') %}
        <script type="text/javascript" src="{{ site_url }}{{ js }}"></script>
    {% endfor %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header class="leaderboard">
    <div class="container">
        <div class="row">
            <div class="col-md-2"><a href="{{ url('login') }}">Login</a> / <a href="">Register</a></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="{{ url('home') }}"><h1>My New Blog</h1></a>
            </div>
        </div>
    </div>
</header>

<section class="container avcms-main">
    {% block content %}{% endblock %}
</section>

<footer class="container">
    {% block footer %}
    <div class="row">
        <div class="col-md-4">
            Copyright AV Scripts 2014
        </div>
    </div>
    {% endblock %}
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ site_url }}web/javascript/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ site_url }}web/javascript/bootstrap.min.js"></script>

<script src="{{ site_url }}web/javascript/bootstrap-markdown.js"></script>
<script src="{{ site_url }}web/javascript/markdown.js"></script>
<script src="{{ site_url }}web/javascript/to-markdown.js"></script>
<script src="{{ site_url }}web/javascript/select2.min.js"></script>
<script type="text/javascript">
    $("textarea[name=body]").markdown({autofocus:false,savable:false});
    $("select[name=author]").select2();
</script>
</body>
</html>