{% extends 'index.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
    {{ form_start(login_form, 'blog_form.twig') }}

    {% if login_form.errors is not empty %}
        <div class="alert alert-danger">
            <ul>
            {% for error in login_form.errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    {{ form_rows(login_form) }}

    {{ form_submit_button(login_form) }}

    {{ form_end(login_form) }}
{% endblock %}