{% extends '@admin/editor.twig' %}

{% block title %}Categories{% endblock %}

{% block editor_title %}{{ block('title') }}{% endblock %}

{% block editor_content %}
    <span class="always-refresh"></span>

    <p><a href="{{ url(route_prefix ~ 'admin_add_category') }}" class="btn btn-primary">{% trans %}Add Category{% endtrans %}</a></p>

    <div class="sortable-container">
        <ul class="sortable" style="position: absolute;" data-sortable-levels="2" data-ajax-action="{{ url(route_prefix ~ 'save_categories_order') }}" data-ajax-delete-action="{{ url('menus_admin_delete_item') }}">
            {% for category in categories %}
                <li id="category_order_{{ category.id }}" data-item-id="{{ category.id }}">
                    <div class="sortable-item">
                        <span class="glyphicon glyphicon-align-justify handle"></span> {{ category.name }}
                        {% block category_buttons %}
                            <div class="pull-right">
                                <a href="{{ url(route_prefix ~ 'admin_edit_category', {id: category.id}) }}" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-pencil"></span> {% trans %}Edit{% endtrans %}</a>
                            </div>
                        {% endblock %}
                    </div>
                    {% if category.subCategories %}
                        <ul>
                            {% for subCategory in category.subCategories %}
                                <li id="category_order_{{ subCategory.id }}">
                                    <div class="sortable-item">
                                        <span class="glyphicon glyphicon-align-justify handle"></span> {{ subCategory.name }}
                                        {{ block('category_buttons') }}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
