{% extends '@admin/editor.twig' %}

{% block title %}
    {% trans %}Bulk Upload Files{% endtrans %}
{% endblock %}

{% block editor_title %}
    {{ block('title') }}
{% endblock %}

{% block editor_content %}
    <span class="always-refresh"></span>

    {{ form_start(form) }}

    {{ form_messages(form) }}

    {{ form_rows(form) }}

    {{ form_end(form) }}

    <script type="text/javascript">

        $('.bulk-file-upload').fileupload({
            url: avcms.config.site_url+'admin/wallpapers/upload',
            dataType: 'json',
            done: function (e, data) {
                if (data.result.success === true) {
                    $('.file-upload-progress').filter(':visible').html('');

                    $('form').filter(':visible').find('input[name="'+file_field+'"]').val(data.result.file);
                    $('input[name="'+field_group+'[file_type]"][value="'+file_field+'"]').filter(':visible').prop('checked', true).change();
                }
                else {
                    alert(data.result.error);
                }
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('.file-upload-progress').filter(':visible').html('Uploading: '+progress+'%');
            },
            fail: function() {
                alert('f');
            }
        }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');

    </script>
{% endblock %}
