{% extends '@admin/edit_item.twig' %}

{% block title -%}{% trans %}Review Wallpaper Submission:{% endtrans %} {{ item.name }}{% endblock %}

{% block editor_title %}
    <span class="light">{% trans %}Review Wallpaper Submission:{% endtrans %}</span> <span data-id="{{ item.id }}" data-field="name">{{ item.name }}</span>
{% endblock %}

{% block before_form %}
    <div style="text-align: center">
        <a href="{{ url('wallpapers_admin_view_original_image', {file: item.file}) }}" target="_blank">
            <img class="img-thumbnail" src="{{ url('wallpapers_admin_view_original_image', {file: item.file}) }}" width="60%" />
        </a>
        <p>{% trans %}Original Resolution:{% endtrans %} {{ item.originalWidth }}x{{ item.originalHeight }}</p>
    </div>
{% endblock %}

{% block form_start %}
    {{ form_start(form, {"data-item-id": item.id|default(0), 'class': 'review-wallpaper-submission'}) }}
{% endblock %}
