{% extends '@admin/browser.twig' %}

{% block finder_title %}
    {% trans %}Import Wallpapers{% endtrans %}
{% endblock %}

{% block expand_finder_button %}
    {{ buttons.expand_finder('wallpaper_bulk_import_admin_home') }}
{% endblock %}

{% block add_item %}
    {{ buttons.add_item('wallpapers_bulk_upload', 'Upload Images', 'glyphicon-upload') }}
    <div class="add-item">
        <a href="#" data-form-modal-url="{{ path('wallpapers_bulk_import_new_folder') }}">
            <span class="glyphicon glyphicon-folder-open"></span> {% trans %}Add New Folder{% endtrans %}
        </a>
    </div>
{% endblock %}

{% block finder %}
    <div data-url="{{ path('wallpaper_bulk_import_admin_finder') }}">
        {{ render(path('wallpaper_bulk_import_admin_finder')) }}
    </div>
{% endblock %}

{% block mobile_back_link %}
    {{ path('wallpaper_bulk_import_admin_home') }}
{% endblock %}

{% block checked_options_buttons %}
    {{ buttons.bulk_delete('wallpaper_bulk_import_admin_delete') }}
{% endblock %}
