{% extends '@admin/browser.twig' %}

{% block finder_title %}
    {% trans %}Wallpapers{% endtrans %}
{% endblock %}

{% block expand_finder_button %}
    {{ buttons.expand_finder('wallpapers_admin_home') }}
{% endblock %}

{% block add_item %}
    {{ buttons.add_item('wallpapers_admin_add', 'Add Wallpaper') }}
    {{ buttons.add_item('wallpapers_manage_categories', 'Manage Categories', 'glyphicon-th-list') }}
    {{ buttons.add_item('wallpapers_manage_resolutions', 'Manage Resolutions', 'glyphicon-fullscreen') }}
{% endblock %}

{% block finder_extra_class %}
    finder-wide
{% endblock %}

{% block finder %}
    <div data-url="{{ url('wallpapers_admin_finder') }}">
        {{ render(path('wallpapers_admin_finder')) }}
    </div>
{% endblock %}

{% block mobile_back_link %}
    {{ url('wallpapers_admin_home') }}
{% endblock %}

{% block checked_options_buttons %}
    {{ buttons.bulk_delete('wallpapers_admin_delete') }}
    {{ buttons.bulk_publish('wallpapers_admin_toggle_published') }}
    {{ buttons.bulk_unpublish('wallpapers_admin_toggle_published') }}
{% endblock %}
