<div class="list-group">
    {% for game in games %}
        <a href="{{ path('play_game', {slug: game.slug}) }}" class="list-group-item">
            <div class="media">
                <span class="media-left" href="#">
                    <img src="{{ game_thumbnail(game) }}" width="50" height="50"/>
                </span>
                <div class="media-body" style="vertical-align: middle;">
                    <h5 class="media-heading">{{ game.name }} </h5>
                    {% if admin_settings.show_game_description %}
                        <span class="small" title="{{ game.description|striptags }}">{{ game.description|striptags|truncate(100) }}</span><br/>
                    {% endif %}
                    <span class="small">
                        {% include '@Games/game_stats.twig' %}
                    </span>
                </div>
            </div>
        </a>
    {% else %}
        <div class="list-group-item">
            {% trans %}None{% endtrans %}
        </div>
    {% endfor %}

    {% if more_button and admin_settings.show_more_button %}
        <a href="{{ more_button.url }}" class="list-group-item text-center">
            {{ more_button.label|trans }} <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    {% endif %}
</div>
