{% extends '@admin/editor.twig' %}

{% block title %}{% trans %}Editing permissions{% endtrans %}: {{ item.name }}{% endblock %}

{% block editor_title %}<span class="light">{% trans %}Editing Permissions{% endtrans %}:</span> {{ item.name }}{% endblock %}

{% block editor_content %}
    {{ form_start(form) }}

    {{ form_messages(form) }}

    {{ form_rows_before(form, 'permissions') }}

    {% set permission_fields = form.permissions.fields %}

    {% for permission_type, permissions in grouped_permissions %}
        <h4>{{ permission_types[permission_type] }}</h4>
        {% for permission in permissions %}
            <div class="well well-sm">
                <strong>{{ permission.name }}</strong> -  {{ permission.description }}<br/>
                {{ form_field(permission_fields[permission.id]) }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_rows_after(form, 'permissions') }}

    {{ form_submit_button(form) }}

    {{ form_end(form) }}
{% endblock %}
