{% extends '@admin/finder.twig' %}

{% block finder_header_titles %}
    <div class="col-xs-12 col-sm-4 col-md-3">{% trans %}Join Date{% endtrans %}</div>

    <div class="col-xs-6 col-sm-3 hidden-xs">{% trans %}Last Active{% endtrans %}</div>

    <div class="col-xs-3 col-sm-4 col-md-3 hidden-xs">{% trans %}Last IP / Reg IP{% endtrans %}</div>

    <div class="col-xs-3 hidden-xs hidden-sm">{% trans %}User Group{% endtrans %}</div>
{% endblock %}

{% block item_title %}
    <div class="finder-item-title" data-field="username">
        {{ item.username }}
    </div>
{% endblock %}

{% block item_options %}
    <div class="btn-group">
        {{ buttons.edit('users_admin_edit', item.id) }}
        <a class="btn btn-default btn-xs" href="{{ url('users_admin_change_password', {id: item.id}) }}" title="{% trans %}Change Password{% endtrans %}"><span class="glyphicon glyphicon-lock"></span> </a>
        {{ buttons.delete('users_admin_delete') }}
    </div>

    <div class="btn-group">
        <a href="mailto:{{ user.email }}" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-envelope"></span> </a>
        {{ buttons.view('user_profile', {slug: item.slug}) }}
    </div>
{% endblock %}

{% block item_extended_inner %}
    <div class="col-xs-12 col-sm-4 col-md-3">{{ item.joined|date(settings.date_format) }}</div>

    <div class="col-xs-6 col-sm-3 hidden-xs">
        {% if item.lastActivity != 0 %}
            {{ item.lastActivity|date(settings.date_format ~ ' H:i') }}
        {% else %}
            <span class="text-muted">{% trans %}Never{% endtrans %}</span>
        {% endif %}
    </div>

    <div class="col-xs-3 col-sm-4 col-md-3 hidden-xs">
        {{ item.lastIp|default('-') }}<br/>
        {{ item.registrationIp|default('-') }}<br/>
    </div>

    <div class="col-xs-3 hidden-xs hidden-sm"><a href="{{ path('user_groups_admin_edit', {'id': item.group.id}) }}">{{ item.group.name }}</a></div>
{% endblock %}
