{% extends '@admin/browser.twig' %}

{% block finder_title %}
    {% trans %}Users{% endtrans %}
{% endblock %}

{% block expand_finder_button %}
    {{ buttons.expand_finder('users_admin_home') }}
{% endblock %}

{% block add_item %}
    {{ buttons.add_item('users_admin_options', 'Users Options', 'glyphicon-cog') }}
{% endblock %}

{% block finder %}
    <div data-url="{{ url('users_admin_finder') }}">
        {{ render(path('users_admin_finder')) }}
    </div>
{% endblock %}

{% block mobile_back_link %}
    {{ url('users_admin_home') }}
{% endblock %}

{% block checked_options_buttons %}
    {{ buttons.bulk_delete('users_admin_delete') }}
{% endblock %}
