{% extends 'index.twig' %}

{% block title %}{% trans %}Private Messages{% endtrans %}{% endblock %}

{% block content %}
    <div class="box messages-box">
        <div class="box-top">
            <h2>{{ block('title') }}</h2>
        </div>

        <div class="box-main">
            <div class="list-group">
                {% for message in messages %}
                    <div class="list-group-item avcms-message" data-id="{{ message.id }}">
                        <div class="media">
                            <div class="media-left">
                                <a href="{{ path('user_profile', {'slug': message.sender.slug}) }}">
                                    <img class="media-object" src="{{ avatar_url(message.sender) }}" width="45" height="45" alt="{{ message.sender.username }}">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="{{ path('read_private_message', {'id': message.id}) }}">{{ message.subject }}</a></h4>
                                <input type="checkbox" />

                                <strong class="text-primary avcms-message-read" {% if message.read %}style="display: none;"{% endif %}>{% trans %}Unread{% endtrans %}&nbsp;</strong>

                                {% trans %}From{% endtrans %}: <a href="{{ path('user_profile', {'slug': message.sender.slug}) }}">{{ message.sender.username }}</a>

                                &nbsp;{% trans %}Sent{% endtrans %}: {{ message.date|date(settings.time_format) }}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="well well-sm">{% trans %}No New Messages{% endtrans %}</div>
                {% endfor %}
            </div>

            <div class="avcms-inbox-buttons" style="display: none;">
                {% trans %}With Selected{% endtrans %}:
                <button class="btn btn-xs btn-danger avcms-delete-messages"><span class="glyphicon glyphicon-remove"></span> {% trans %}Delete{% endtrans %}</button>
                <button class="btn btn-xs btn-default avcms-mark-read"><span class="glyphicon glyphicon-eye-open"></span> {% trans %}Mark Read{% endtrans %}</button>
                <button class="btn btn-xs btn-default avcms-mark-unread"><span class="glyphicon glyphicon-eye-close"></span> {% trans %}Mark Unread{% endtrans %}</button>
            </div>
        </div>
    </div>
{% endblock %}
