{% extends '@dev/index.twig' %}

{% block title %}Review Translations{% endblock %}

{% block content %}
    <form method="post">
    {% for string, translation in translation_strings %}
        <div class="row" style="border-bottom: 1px solid #c0c0c0">
            <div class="col-md-6">
                {% if translation.usages|length > 0 %}
                    {% set class = 'text-success' %}
                {% else %}
                    {% set class = 'text-danger' %}
                {% endif %}
                <span class="{{ class }}">{{ string }} - {{ translation.usages|length }}</span><br/>
                {% for usage in translation.usages %}
                    <span style="font-size:8px;">{{ usage.file }}</span><br>
                {% endfor %}
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <label>Include translation <input type="checkbox" name="translations[]" value="{{ string }}" {% if translation.usages|length > 0 %}checked="checked"{% endif %}/></label>
                </div>
            </div>
        </div>
    {% endfor %}
        <button type="submit" class="btn btn-primary">Accept Translation Strings</button>
    </form>
{% endblock %}