<html>
    <head>
        <title>{% block title %}{% trans %}Error{% endtrans %}{% if dev_mode %}: {{ error.message }}{% endif %}{% endblock %}</title>

        <style type="text/css">
            body {
                font-family: Verdana, Helvetica, Arial, sans-serif;
            }
            .error-container {
                margin: 50px auto;
                text-align: center;

            }
            .error-status-code {
                font-size: 100px;
                color: #626262;

                text-shadow: 3px 3px #dddddd;
                margin-bottom: 15px;
            }
            .error-message {
                color: #5d5d5d;
            }
            .error-home-link {
                margin-top: 30px;
            }

            .error-home-link a {
                color: #222222;
                text-decoration: none;
            }

            .error-home-link a:hover {
                color: #565656;
                text-decoration: underline;
            }
        </style>
    </head>

    <body>
        <div class="error-container">

                <div class="error-status-code">
                    {% block error_status_code %}
                        {% if code %}
                            {{ code }}
                        {% elseif error.statusCode != 200 %}
                            {{ error.statusCode }}
                        {% else %}
                            :(
                        {% endif %}
                    {% endblock %}
                </div>


            <div class="error-message">
                {% block error_message %}
                    {% if dev_mode or show_error %}
                        {{ error.message }}
                    {% endif %}
                {% endblock %}
            </div>

            <div class="error-home-link">
                {% block error_home_link %}
                    <a href="{{ url('home') }}">&larr; {% trans %}Go To Homepage{% endtrans %}</a>
                {% endblock %}
            </div>
        </div>
    </body>
</html>
