{% extends ajax_depth ? '@admin/ajax_page.twig' : '@admin/index.twig' %}

{% import '@admin/macros/finder_buttons.twig' as buttons %}

{% block title %}
    {{ block('finder_title') }}
{% endblock %}

{% block main_content %}
    <div class="browser">
        <div class="browser-finder animated fadeIn">
            <div class="browser-finder-top">
                <div class="browser-finder-filters">
                    {% block finder_top -%}
                        <h3>{% block finder_title %}Browser{% endblock %}</h3>

                        {% block expand_finder_button %}{% endblock %}

                        {% block finder_filters %}
                            {{ form_start(finder_filters_form) }}

                            {% block finder_order %}
                                <div class="filter-form-row">{{ form_field(finder_filters_form.order) }}</div>
                            {% endblock %}

                            {% block finder_search %}
                                <div class="input-group">
                                    {{ form_field(finder_filters_form.search, {"class": "input-md", "placeholder": "Search", "autocomplete": "off"}) }}
                                    <span class="input-group-btn">
                                        <button class="btn btn-default clear-search" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                                    </span>
                                </div>
                            {% endblock %}

                            {{ form_end(finder_filters_form) }}
                        {% endblock %}
                    {%- endblock %}
                </div>

                {% block add_item %}{% endblock %}
            </div>

            <div class="browser-finder-results">
                <div class="nano">
                    <div class="nano-content">
                        <div class="finder-ajax">
                            {% block finder %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="browser-finder-checked-options">
                <div class="btn-group" style="margin-bottom: 5px">
                    <button type="button" class="btn btn-default btn-xs select-all-button">Select All</button>
                    <button type="button" class="btn btn-default btn-xs deselect-all-button">Deselect All</button>
                    <button type="button" class="btn btn-default btn-xs selected-count" disabled="disabled">0</button>
                </div><br/>
                <div class="btn-group">
                    {% block checked_options_buttons %}

                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="browser-editor">
            <div class="mobile-back">
                <a href="{% block mobile_back_link %}#{% endblock %}" class="btn btn-link"><span class="glyphicon glyphicon-chevron-left"></span> {% trans %}Back To Finder{% endtrans %}</a>
            </div>

            <div class="ajax-editor">
                <div class="ajax-editor-inner">
                    {% block editor %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}