{% set site_url = url('home') %}

<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="{{ site_url }}web/css/style.css" />
    <link href="{{ site_url }}web/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site_url }}web/css/bootstrap-markdown.min.css" rel="stylesheet">
    <link href="{{ site_url }}web/css/select2.css" rel="stylesheet">
    <link href="{{ site_url }}web/css/select2-bootstrap.css" rel="stylesheet">
    <link href="{{ site_url }}templates/admin/avcms/animate.css" rel="stylesheet">
    <link href="{{ site_url }}web/css/nanoscroller.css" rel="stylesheet">

    <link href="{{ site_url }}templates/admin/avcms/avcms_admin.css" rel="stylesheet">

    {% for css in css('admin') %}
        <link href="{{ site_url }}{{ css }}" rel="stylesheet">
    {% endfor %}

    <link href="{{ site_url }}web/css/avcms-blocks.css" rel="stylesheet">

    {% for js in javascripts('admin') %}
        <script type="text/javascript" src="{{ site_url }}{{ js }}"></script>
    {% endfor %}

    <!--[if lt IE 9]>
    <script src="{{ site_url }}web/javascript/html5shiv.js"></script>
    <script src="{{ site_url }}web/javascript/respond.js"></script>
    <![endif]-->

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ site_url }}web/javascript/avcms_admin.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header class="admin-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"><a href="{{ url('login') }}">Login</a> / <a href="">Register</a></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="{{ url('blog_home') }}"><h1>AVCMS Blog</h1></a>
            </div>
        </div>
    </div>
</header>

<aside class="admin-menu">
    <ul>
        <li><a href="#"><span class="glyphicon glyphicon-th"></span> Dashboard</a></li>
        <li><a href="{{ url('blog_admin_home') }}"><span class="glyphicon glyphicon-pencil"></span> Blog</a></li>
        <li><a href="{{ url('avcms_settings') }}"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
    </ul>
</aside>

<script type="text/javascript">avcms.adminTemplate.verticalDesign()</script>

<div class="main">
    <section class="ajax-main">
        {% block main_content %}{% endblock %}
    </section>
</div>

</body>
</html>