{% extends ajax_depth ? '@admin/ajax_page.twig' : '@admin/index.twig' %}

{% import '@admin/macros/finder_buttons.twig' as buttons %}

{% block title %}
    {{ block('finder_title') }}
{% endblock %}

{% block main_content %}
    <div class="{% block browser_class %}browser{% endblock %}">
        <div class="browser-finder animated fadeIn {%- block finder_extra_class -%}{%- endblock -%}">
            <div class="browser-finder-top">
                <div class="browser-finder-title">
                    <h3>{% block finder_title %}Browser{% endblock %}</h3>

                    {% block expand_finder_button %}{% endblock %}
                </div>

                {% block finder_header_extra %}{% endblock %}

                <div class="browser-finder-filters">
                    {% block finder_filters -%}
                        {{ form_start(finder_filters_form) }}

                        {{ form_rows(finder_filters_form) }}

                        {{ form_end(finder_filters_form) }}
                    {%- endblock %}
                </div>
                {% if finder_filters_form %}
                <div class="browser-finder-show-filters">
                    <a href="#" class="browser-finder-show-filters-button text-muted"><span class="glyphicon glyphicon-filter"></span> {% trans %}Show Filters{% endtrans %}</a>
                </div>
                {% endif %}

                {% block add_item %}{% endblock %}
            </div>

            <div class="browser-finder-results">
                <div class="nano">
                    <div class="nano-content">
                        <div class="finder-ajax">
                            {% block finder %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="browser-finder-checked-options">
                <div class="btn-group" style="margin-bottom: 5px">
                    <button type="button" class="btn btn-default btn-xs select-all-button">{% trans %}Select All{% endtrans %}</button>
                    <button type="button" class="btn btn-default btn-xs deselect-all-button">{% trans %}Deselect All{% endtrans %}</button>
                    <button type="button" class="btn btn-default btn-xs selected-count" disabled="disabled">0</button>
                </div><br/>
                {% block checked_options_buttons_outer %}
                    <div class="btn-group">
                        {% block checked_options_buttons %}

                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        </div>
        <div class="browser-editor">
            <div class="mobile-back">
                <a href="{% block mobile_back_link %}#{% endblock %}" class="btn btn-link"><span class="glyphicon glyphicon-chevron-left"></span> {{ block('finder_title') }}</a>
            </div>

            <div class="ajax-editor">
                <div class="ajax-editor-inner">
                    {% block editor %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
