{% extends '@admin/editor.twig' %}

{% block title %}{% trans %}No title{% endtrans %}{% endblock %}

{% block editor_title_edit %}
    {% trans %}Editing{% endtrans %}
{% endblock %}

{% block editor_title_new -%}
    {% trans %}Adding New{% endtrans %}
{%- endblock %}

{% block editor_content %}
    {% block before_form %}{% endblock %}

    {% block form_start %}
        {{ form_start(form, {"data-item-id": item.id|default(0)}) }}
    {% endblock %}

    {{ form_messages(form) }}

    {% block form_rows %}
        {{ form_rows(form) }}
    {% endblock %}

    {% block form_buttons %}
        {{ form_submit_button(form) }}
        <button type="button" class="btn btn-link reset-button">{% trans %}Revert Changes{% endtrans %}</button>
    {% endblock %}

    {% block form_end %}
        {{ form_end(form) }}
    {% endblock %}
{% endblock %}
