{% extends '@admin/editor.twig' %}
{% import '@admin/macros/finder_buttons.twig' as buttons %}

{% block title -%}
    {% spaceless %}
        {% if item.id %}
            Editing {{ item.label }}
        {% else %}
            {% trans %}New Menu{% endtrans %}
        {% endif %}
    {% endspaceless  %}
{% endblock %}

{% block editor_title_edit %}
    <span class="light">{% trans %}Editing Menu{% endtrans %}:</span> <span data-id="{{ item.id }}" data-field="label">{{ item.label }}</span>
{% endblock %}

{% block editor_title_new %}
    New Menu
{% endblock %}

{% block editor_content %}
    <span class="always-refresh"></span>

    {% if item.id == 'admin' %}
        <div class="alert alert-info">{% trans %}Please note, you will need to refresh the admin panel to see changes to the admin panel menu.{% endtrans %}</div>
    {% endif %}

    <p><a href="{{ url('menu_items_add', {menu: item.id}) }}" class="btn btn-default">{% trans %}Add Menu Item{% endtrans %}</a></p>

    <div class="sortable-container">
        <ul class="sortable" style="position: absolute;" data-sortable-levels="2" data-ajax-action="{{ url('menus_save_order', {id: item.id}) }}" data-ajax-delete-action="{{ url('menus_admin_delete_item') }}">
            {% for menu_item in menu_items %}
            <li id="menu_order_{{ menu_item.id|replace({'_': 'UNDERSCORE'}) }}" data-item-id="{{ menu_item.id }}">
                <div class="sortable-item">
                    <span class="glyphicon glyphicon-align-justify handle"></span> {{ menu_item.label }}
                    {% block menu_item_buttons %}
                        <div class="pull-right">
                            {{ buttons.publish(menu_item.enabled, 'toggle_menu_item_enabled') }}
                            {% if menu_item.owner is null %}
                                <a class="btn btn-xs btn-default" href="{{ url('menu_items_edit', {menu: item.id, id: menu_item.id}) }}">{% trans %}Edit{% endtrans %}</a>
                                <button class="btn btn-danger btn-xs delete-item"><span class="glyphicon glyphicon-remove"></span></button>
                            {% endif %}
                        </div>
                    {% endblock %}
                </div>
                {% if menu_item.children %}
                <ul>
                    {% for menu_item in menu_item.children %}
                        <li id="menu_order_{{ menu_item.id }}">
                            <div class="sortable-item">
                                <span class="glyphicon glyphicon-align-justify handle"></span> {{ menu_item.label }}
                                {{ block('menu_item_buttons') }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}