{% extends '@admin/browser.twig' %}

{% block finder_title %}
    {% trans %}Game Feeds{% endtrans %}
{% endblock %}

{% block expand_finder_button %}
    {{ buttons.expand_finder('game_feeds_admin_home') }}
{% endblock %}

{% block add_item %}
    {{ buttons.add_item('update_game_feeds', 'Update Feeds', 'glyphicon-refresh') }}
{% endblock %}

{% block finder_extra_class %}
    finder-wide
{% endblock %}

{% block finder %}
    <div data-url="{{ url('game_feeds_admin_finder') }}">
        {{ render(path('game_feeds_admin_finder')) }}
    </div>
{% endblock %}

{% block mobile_back_link %}
    {{ url('game_feeds_admin_home') }}
{% endblock %}

{% block checked_options_buttons %}
    {{ buttons.bulk_delete('game_feeds_admin_reject', 'glyphicon glyphicon-thumbs-down') }}

    
{% endblock %}
