{% extends '@admin/finder.twig' %}

{% block finder_header_titles %}
    <div style="margin-left: 55px">
        <div class="col-sm-3 hidden-xs">
            {% trans %}Feed{% endtrans %}
        </div>
        <div class="col-sm-3 hidden-xs">
            {% trans %}File Type{% endtrans %}
        </div>
        <div class="col-sm-6 hidden-xs hidden-sm">
            {% trans %}Categories{% endtrans %}
        </div>
    </div>
{% endblock %}

{% block item_main %}
    <div class="finder-thumbnail">
        <div class="avcms-thumbnail-loader"></div>
        <a href="{{ path('play_feed_game', {'id': item.id}) }}">
            <img src="{{ item.thumbnail }}" width="50" height="50"/>
        </a>
    </div>

    <div class="finder-item-title" data-field="name">
        <a href="{{ path('play_feed_game', {'id': item.id}) }}"> {{ item.name }}</a>
    </div>

    <div class="avcms-feed-game-buttons">
        {{ form_field(categories.fields()['category-' ~ item.id], {'class': 'no_select2 input-sm', style: 'width: 120px;display: inline;height: 22px;'}) }}

        <button class="btn btn-xs btn-success avcms-download-feed-game"><span class="glyphicon glyphicon-download-alt"></span> {% trans %}Import{% endtrans %}</button>

        {{ buttons.delete('game_feeds_admin_reject', 'glyphicon glyphicon-thumbs-down') }}
    </div>
    <div class="avcms-feed-game-downloading text-info" style="display:none;">
        {% trans %}Downloading...{% endtrans %}
    </div>
    <div class="avcms-feed-game-pending text-warning" style="display:none;">
        {% trans %}Pending...{% endtrans %}
    </div>
    <div class="avcms-feed-game-installed" style="display:none;">
        <a href="#" target="_blank" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-pencil"></span> {% trans %}Edit{% endtrans %}</a>
    </div>
{% endblock %}

{% block item_extended_inner %}
    <div class="col-sm-3 hidden-xs">
        {{ feeds[item.provider].info.name }}
    </div>
    <div class="col-sm-3 hidden-xs">
        {{ item.fileType|default('html') }}
    </div>
    <div class="col-sm-6 hidden-xs hidden-sm">
        {{ item.category }}
    </div>
{% endblock %}
