{% extends '@admin/finder.twig' %}

{% block item_main %}
    <div class="finder-thumbnail">
        <img src="{{ game_thumbnail(item) }}" width="50" height="50"/>
    </div>

    <div class="finder-item-title" data-field="name">
        {{ item.name }}
    </div>

    <div class="btn-group">
        {{ buttons.edit('games_admin_edit', item.id) }}

        {{ buttons.publish(item.published, 'games_admin_toggle_published', item.publishDate) }}

        {{ buttons.featured(item.featured, 'games_admin_toggle_featured') }}

        {{ buttons.delete('games_admin_delete') }}
    </div>

    {{ buttons.view('play_game', {slug: item.slug}) }}
{% endblock %}

{% block finder_header_titles %}
    <div class="col-xs-3 hidden-xs">
        {% trans %}Publish Date{% endtrans %}
    </div>
    <div class="col-xs-3 hidden-xs">
        {% trans %}Category{% endtrans %}
    </div>
    <div class="col-xs-2 hidden-xs">
        {% trans %}Plays{% endtrans %}
    </div>
    <div class="col-xs-3 hidden-xs">
        {% trans %}Last Played{% endtrans %}
    </div>
{% endblock %}

{% block item_extended_inner %}
    <div class="col-xs-3 hidden-xs" style="word-break: break-all">
        {{ item.publishDate|date(settings.time_format) }}
    </div>
    <div class="col-xs-3 hidden-xs">
        {{ item.category.name }}
    </div>
    <div class="col-xs-2 hidden-xs">
        {{ item.hits }}
    </div>
    <div class="col-xs-3 hidden-xs">
        {% if item.lastHit %}
            {{ item.lastHit|date(settings.date_format) }}
        {% endif %}
    </div>
{% endblock %}
