{% extends '@admin/finder.twig' %}

{% block item_main %}
    <div class="finder-thumbnail">
        <img src="{{ game_thumbnail(item) }}" width="50" height="50"/>
    </div>

    <div class="finder-item-title" data-field="name">
        {{ item.name }}
    </div>

    <div class="btn-group">
        {{ buttons.edit('games_admin_edit', item.id) }}

        {{ buttons.publish(item.published, 'games_admin_toggle_published') }}

        {{ buttons.featured(item.featured, 'games_admin_toggle_featured') }}

        {{ buttons.delete('games_admin_delete') }}
    </div>

    {{ buttons.view('play_game', {slug: item.slug}) }}
{% endblock %}

{% block finder_header_titles %}

{% endblock %}

{% block item_extended_inner %}

{% endblock %}
