{% extends '@admin/browser.twig' %}

{% block finder_title %}
    {% trans %}Games{% endtrans %}
{% endblock %}

{% block expand_finder_button %}
    {{ buttons.expand_finder('games_admin_home') }}
{% endblock %}

{% block add_item %}
    {{ buttons.add_item('games_admin_add', 'Add Game') }}
{% endblock %}

{% block finder %}
    <div data-url="{{ url('games_admin_finder') }}">
        {{ render(path('games_admin_finder')) }}
    </div>
{% endblock %}

{% block mobile_back_link %}
    {{ url('games_admin_home') }}
{% endblock %}

{% block checked_options_buttons %}
    {{ buttons.bulk_delete('games_admin_delete') }}

    {{ buttons.bulk_publish('games_admin_toggle_published') }}
    {{ buttons.bulk_unpublish('games_admin_toggle_published') }}

    {{ buttons.bulk_feature('games_admin_toggle_featured') }}
    {{ buttons.bulk_unfeature('games_admin_toggle_featured') }}
{% endblock %}
